{% include _ o="div2" a="xml:id=introduction" %}{% capture title %}{% include _ v="Cybre" %}{% include _ o="lb" %}{% include _ v="is" %}{% include _ o="lb" %}…?{% endcapture %}
	{% include layout_A/sectionlink id="introduction" title=title %}
	{% include _ o="p|DIV" %}
		{% include _ v="In" %}
		{% include date when="1995" %},
		{% include _ v="during their annual" %}
		{% include _ o="rs" a="type=event" %}Word{% include - %}of{% include - %}the{% include - %}Year{% include _ x="rs" %}
		{% include _ v="vote" %},
		{% include _ v="the" %}
		{% include name of="ads" full=1 %}
		{% include _ v="announced" %}
		{% include _ o="mentioned" c="cyber" %}
		{% include _ v="as one of" %}{% capture content %}{% include _ v="the" %}
			{% include date when="1994" %}
			{% include _ v="words of the year" %}{% endcapture %}
		{% include link href="https://www.americandialect.org/woty/all-of-the-words-of-the-year-1990-to-present#1994" title="All of the Words of the Year, 1990 to Present § 1994 Word of the Year | American Dialect Society" content=content %}.
		{% include _ o="table" a="type=split" %}
			{% include _ o="row" %}
				{% include _ o="cell" %}
					{% include _ v="The" %}
					{% include name of="ads" %}
					{% include _ v="glossed" %}
					{% include _ o="mentioned" c="cyber" %}
					{% include _ v="as" %}
					{% include _ o="quote" c="pertaining to computers and electronic communication" %}.
					{% include _ v="The other word for that year" %}—{% include _ v="it was a tie" %}—{% include _ v="was" %},
					{% include _ v="perhaps presciently" %},
					{% include _ o="mentioned" c="morph" %},
					{% include _ q="quote" c="to change form" %}.
				{% include _ x="cell" %}
				{% include _ o="cell" %}
					{% include _ v="As someone who was born in" %}
					{% include date when="1994" %},
					{% include _ v="I have witnessed the evolution of this term firsthand" %},
					{% include _ v="alongside my own personal development" %}.
					{% include _ v="As such" %},
					{% include _ v="it seems only fitting that I should be the one to write this now" %}.
				{% include _ x="cell" %}
			{% include _ x="row" %}
		{% include _ x="table" %}
	{% include _ x="p|DIV" %}
	{% include _ o="p" %}
		{% include _ v="For most of my life" %},
		{% include _ v="the word" %}
		{% include _ o="mentioned" v="cyber" %}
		{% include _ v="has seemed largely an anachronism" %}, {% include _ v="evoked for a sense of" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="90s" %}{% include - %}{% include _ v="era nostalgia" %}{% include _ x="emph|STRONG" %},
		{% include _ v="recalling a time when" %}
		{% include _ o="bloc" v="the Internet" %}
		{% include _ v="and computers were considered" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="an exciting new world of untold possibilities" %}
		{% include _ v="rather than an" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="everpresent" %},
			{% include _ v="integrated" %}
			({% include _ v="and often troubling" %})
			{% include _ v="part" %}{% include _ x="emph|STRONG" %}
		{% include _ v="of our day" %}{% include - %}{% include _ v="to" %}{% include - %}{% include _ v="day lives" %}.
		{% include _ v="In stark contrast are the ways the word has persisted in the common vernacular" %},
		{% include _ v="through phrases such as" %}
		{% include _ o="mentioned" v="cyberwarfare" %},
		{% include _ o="mentioned" v="Cyber Monday" %},
		{% include _ v="and" %}
		{% include _ o="mentioned" v="cyberpunk" %}—{% include _ v="signalling" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="militarism" %},
		{% include _ o="emph|STRONG" a="rend=strong" v="capitalism" %},
		{% include _ v="and" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="dystopia" %},
		{% include _ v="respectively" %};
		{% include _ v="instead of the naive optimism of the 90s" %},
		{% include _ v="the" %}
		{% include _ o="mentioned" v="cyber" %}
		{% include _ v="of the present" %}{% include - %}{% include _ v="day connotates" %}
		{% include _ o="emph" v="all of the fraughtness and danger that our interconnected technological networks have the potential to contain" %}.
	{% include _ x="p" n=1 %}
	{% include _ o="p" %}
		{% include _ v="When" %}
		{% include name of="realDonaldTrump" full=1 %}
		{% include _ v="made his" %}
		{% include link href="https://www.washingtonpost.com/news/the-fix/wp/2016/09/26/the-first-trump-clinton-presidential-debate-transcript-annotated/" title="The first Trump-Clinton presidential debate transcript, annotated | The Washington Post" vcontent="viral remarks" %}
		{% include _ v="about" %}
		{% include _ o="quote" c="the cyber" %}
		{% include _ v="in the first presidential debate" %},
		{% include _ v="and as concerns about" %}
		{% include _ o="country" v="Russian" %}
		{% include _ v="hacking and botnets took hold" %},
		{% include _ v="some prescient commentators on" %}
		{% include _ o="country" v="Twitter" %}
		{% include _ v="remarked that" %}
		{% include date when="2017" %}
		{% include _ v="might well end up being" %}
		{% include _ o="quote" c="the year of the cyber" %}.
		{% include _ v="And indeed" %},
		{% include _ v="over the course of the past year we certainly" %}
		{% include _ o="emph" v="have" %}
		{% include _ v="seen an increase in discussion and rhetoric pertaining to" %}:
	{% include _ x="p" n=1 %}
	{% include _ o="list" %}
		{% include _ o="item" %}
			{% include _ o="emph|STRONG" a="rend=strong" %}{% capture content %}{% include _ o="soCalled" v="Cyberwarfare" %}{% endcapture %}{% include link href="https://www.theguardian.com/technology/2017/dec/02/fake-news-botnets-how-russia-weaponised-the-web-cyber-attack-estonia" title="Fake news and botnets: how Russia weaponised the web | The Guardian" content=content %}{% include _ x="emph|STRONG" %}
		{% include _ x="item" n=1 %}
		{% include _ o="item" %}
			{% include _ v="Social media" %}
			({% include _ v="especially" %}:
			{% include _ o="country" c="Facebook" %},
			{% include _ o="country" c="Twitter" %}){% include _ v="'s" %}
			{% include _ o="emph|STRONG" a="rend=strong" %}{% include link href="http://money.cnn.com/2016/11/17/technology/facebook-election-influence/index.html" title="Facebook is well aware that it can influence elections | CNNMoney" vcontent="influence on public opinion" %}{% include _ x="emph|STRONG" %}
		{% include _ x="item" n=1 %}
		{% include _ o="item" %}
			{% include _ v="The" %}
			{% include _ o="emph|STRONG" a="rend=strong" %}{% include link href="https://techcrunch.com/2017/08/16/hatespeech-white-supremacy-nazis-social-networks/" title="Tech is not winning the battle against white supremacy | TechCrunch" vcontent="complacency" %}{% include _ x="emph|STRONG" %}
			{% include _ v="of technological institutions with" %}
			{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="hostile" %}
				({% include _ v="white" %}{% include - %}{% include _ v="supremacist" %})
				{% include _ v="political thought" %}{% include _ x="emph|STRONG" %}
		{% include _ x="item" n=1 %}
		{% include _ o="item" %}
			{% include _ v="The" %}
			{% include _ o="emph|STRONG" a="rend=strong" %}{% include link href="https://www.nytimes.com/2017/04/03/technology/trump-repeal-online-privacy-protections.html" title="Trump Completes Repeal of Online Privacy Protections From Obama Era | The New York Times" content="violation" %}
				{% include _ v="of digital privacy" %}{% include _ x="emph|STRONG" %},
			{% include _ v="both by state governments" %},
			{% include _ v="and by corporations" %}
		{% include _ x="item" n=1 %}
		{% include _ o="item" %}
			{% include _ v="The continued" %},
			{% include _ v="unending" %},
			{% include _ o="emph|STRONG" a="rend=strong" %}{% include link href="https://www.recode.net/2017/8/7/16108122/major-tech-companies-silicon-valley-diversity-women-tech-engineer" title="It’s not just Google — many major tech companies are struggling with diversity | Recode" content="lack" %}
				{% include _ v="of diversity" %}{% include _ x="emph|STRONG" %},
			{% include _ v="in the tech sector" %}
		{% include _ x="item" n=1 %}
		{% include _ o="item" %}
			{% include _ o="emph|STRONG" a="rend=strong" %}{% include link href="https://www.buzzfeed.com/charliewarzel/twitter-is-still-dismissing-harassment-reports-and" title="Twitter Is Still Dismissing Harassment Reports And Frustrating Victims | BuzzFeed" content="Harrassment" %}{% include _ x="emph|STRONG" %},
			{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ o="soCalled" v="toxicity" %}{% include _ x="emph|STRONG" %},
			{% include _ v="and" %}
			{% include _ o="emph|STRONG" a="rend=strong" v="oppression" %}
			{% include _ v="online" %}
		{% include _ x="item" n=1 %}
	{% include _ x="list" %}
	{% include _ o="p" %}
		{% include _ v="Certainly" %},
		{% include _ v="these topics carry with them" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="a threat of risk and danger to the people of the world" %}.
		{% include _ v="However" %},
		{% include _ v="when analysing the" %}
		{% include _ o="emph" v="reactions" %}
		{% include _ v="that these situations have invoked" %} ({% include _ o="soCalled" %}{% include _ v="fighting" %}
		{% include _ o="soCalled" v="cyber" %}
		{% include _ v="with" %}
		{% include _ o="soCalled" v="cyber" %}{% include _ x="soCalled" %};
		{% include _ v="the continuing lack of accountability of large corporations for the content they distribute" %}
		{% include _ o="emph" v="or" %}
		{% include _ v="their encroachments into their users" %}{% include _ v="' lives" %};
		{% include _ v="the continuing rise of online hate and harrassment campaigns" %}—{% include _ v="with no end in sight" %}),
		{% include _ v="one begins to wonder" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="whether they are indeed the threat to the social order that they have been made out to be" %},
		{% include _ v="or if they are" %},
		{% include _ v="in fact" %},
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ o="emph" v="symptomatic of" %}{% include _ x="emph|STRONG" %}
		{% include _ v="and" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ o="emph" v="integral to" %}{% include _ x="emph|STRONG" %}
		{% include _ v="the present shape of power in modern society" %}.
		{% include _ o="hi" a="rend=strong" %}{% include _ o="emph" v="We are told" %}{% include _ x="hi" %}
		{% include _ o="soCalled" v="cyberwarfare" %}
		{% include link href="http://america.aljazeera.com/articles/2014/1/7/defense-leaders-saycyberwarfaregreatestthreattous.html" title="Cyberwarfare greater threat to US than terrorism, say security experts | Aljazeera America" vcontent="puts our lives in danger" %},
		{% include _ v="but that" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="the only" %}
			{% include link href="https://www.theguardian.com/politics/2018/jan/22/uk-faces-cyber-warfare-threat-on-battlefield-and-against-civilian-services" title="UK warned that Russian threat requires increased defence spending | The Guardian" vcontent="solution" %}
			{% include _ v="is" %}
			{% include link href="http://www.bbc.com/news/uk-37721147" title="Michael Fallon: Britain using cyber warfare against IS | BBC News" vcontent="more" %}{% capture content %}{% include _ o="soCalled" v="cyberwarfare" %}{% endcapture %}
			{% include link href="http://www.latimes.com/nation/la-fg-isis-cyber-20160228-story.html" title="Pentagon wages cyberwar against Islamic State | Los Angeles Times" content=content %}{% include _ x="emph|STRONG" %}.
		{% include _ o="hi" a="rend=strong" %}{% include _ o="emph" v="We are told" %}{% include _ x="hi" %}
		{% include _ v="social media has an" %}
		{% include link href="https://www.huffingtonpost.com/entry/facebook-sean-parker-human_us_5a0468d8e4b0f76b05c3d65a" title="Former Facebook Executive Says Social Media Exploits Human ‘Vulnerability’ | HuffPost" vcontent="undue influence" %}
		{% include _ v="in our lives" %},
		{% include _ v="but" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include link href="https://www.theguardian.com/technology/2018/jan/31/facebook-fake-news-disinformation-digital-advertising-report-news-feed" title="Facebook enables 'fake news' by reliance on digital advertising – report | The Guardian" vcontent="this" %}
			{% include link href="https://www.cnbc.com/2018/02/02/mark-zuckerberg-doesnt-want-to-be-your-news-editor.html" title="Mark Zuckerberg says he doesn't want Facebook to edit news because its users can do it better | CNBC" vcontent="only" %}
			{% include link href="https://techcrunch.com/2017/10/24/twitter-advertising-transparency/" title="Twitter announces new ‘transparency center’ for ads | TechCrunch" vcontent="produces" %}
			{% include link href="https://www.recode.net/2018/1/31/16957122/facebook-daily-active-user-decline-us-canda-q4-earnings-2018" title="Facebook lost daily users for the first time ever in the U.S. and Canada | Recode" vcontent="more" %}
			{% include link href="http://thehill.com/policy/technology/370806-facebook-tells-senators-it-cannot-prove-or-disprove-collusion-between-trump" title="Facebook tells Congress it can't prove or disprove Trump-Russia collusion | The Hill" vcontent="social" %}
			{% include link href="http://www.latimes.com/business/technology/la-fi-tn-instagram-feed-20160315-story.html" title="Instagram to show posts in order of 'relevance,' like Facebook's news feed | Los Angeles Times" vcontent="media" %}
			{% include link href="http://money.cnn.com/2017/10/26/technology/business/twitter-earnings/index.html" title="Twitter admits overstating user numbers for years | CNNMoney" vcontent="coverage" %}{% include _ x="emph|STRONG" %}.
		{% include _ o="hi" a="rend=strong" %}{% include _ o="emph" v="We are told" %}{% include _ x="hi" %}{% capture content %}{% include _ v="white" %}{% include - %}{% include _ v="supremacy is a threat" %}{% endcapture %}
		{% include link href="https://www.theatlantic.com/politics/archive/2018/01/the-resurgent-threat-of-white-supremacist-violence/550634/" title="The Resurgent Threat of White-Supremacist Violence | The Atlantic" content=content %},
		{% include _ v="but" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="it is" %}
			{% include link href="https://newrepublic.com/article/144141/youtube-became-worldwide-leader-white-supremacy" title="How YouTube Became the Worldwide Leader in White Supremacy | New Republic" vcontent="allowed" %}
			{% include link href="https://www.nytimes.com/2017/08/15/technology/discord-chat-app-alt-right.html" title="This Was the Alt-Right’s Favorite Chat App. Then Came Charlottesville. | The New York Times" vcontent="to" %}
			{% include link href="http://www.independent.co.uk/news/world/americas/white-nationalist-movement-twitter-faster-growth-isis-islamic-state-study-a7223671.html" title="White nationalist movement growing much faster than Isis on Twitter, study finds | The Independent" vcontent="run" %}
			{% include link href="http://gawker.com/how-reddit-became-a-worse-black-hole-of-violent-racism-1690505395" title="How Reddit Became a Worse Black Hole of Violent Racism than Stormfront | Gawker" vcontent="rampant" %}
			{% include _ v="across our digital networks" %}{% include _ x="emph|STRONG" %}.
		{% include _ o="hi" a="rend=strong" %}{% include _ o="emph" v="We are told" %}{% include _ x="hi" %}
		{% include link href="https://www.facebook.com/about/basics/privacy-principles" title="Facebook’s Privacy Principles | Facebook" vcontent="privacy matters" %},
		{% include _ v="but" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include link href="https://www.perpetuallineup.org/" title="The Perpetual Line-up | Georgetown Law Center on Privacy &amp; Technology" vcontent="states" %}
			{% include _ v="and" %}
			{% include link href="https://www.theguardian.com/technology/2017/nov/28/android-apps-third-party-tracker-google-privacy-security-yale-university" title="Three quarters of Android apps track users with third party tools – study | The Guardian" vcontent="corporations" %}
			{% include link href="https://www.ag.gov.au/RightsAndProtections/IdentitySecurity/Pages/Face-verification-service.aspx" title="Face Matching Services | Australian Government Attorney-General's Department" vcontent="take" %}
			{% include link href="https://www.washingtonpost.com/news/the-switch/wp/2017/03/28/the-house-just-voted-to-wipe-out-the-fccs-landmark-internet-privacy-protections/" title="The House just voted to wipe away the FCC’s landmark Internet privacy protections | The Washington Post" vcontent="further" %}
			{% include _ v="and" %}
			{% include link href="https://www.theguardian.com/technology/2016/aug/02/battery-status-indicators-tracking-online" title="Your battery status is being used to track you online | The Guardian" vcontent="further" %}
			{% include link href="https://motherboard.vice.com/en_us/article/4xanjj/advertisers-might-already-be-using-your-phones-hardware-to-track-you-device-fingerprinting" title="Advertisers Might Already Be Using Your Phone’s Hardware to Track You | Motherboard" vcontent="action" %}
			{% include _ v="to encroach upon it" %}{% include _ x="emph|STRONG" %}.
		{% include _ o="hi" a="rend=strong" %}{% include _ o="emph" v="We are told" %}{% include _ x="hi" %}
		{% include link href="https://www.apple.com/diversity/" title="Inclusion &amp; Diversity | Apple" vcontent="diversity" %}
		{% include link href="https://careers.twitter.com/en/diversity.html" title="Inclusion &amp; Diversity | Twitter" vcontent="is" %}
		{% include link href="https://diversity.google/" title="Diversity | Google" vcontent="a" %}
		{% include link href="https://fbnewsroomus.files.wordpress.com/2017/08/fb_diversity_2017_final.pdf" title="Facebook Diversity Update: Building a more diverse, inclusive workforce | Facebook Newsroom" vcontent="priority" %},
		{% include _ v="but" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="we have" %}
			{% include link href="https://nypost.com/2017/11/17/apples-diversity-chief-lasts-just-six-months/" title="Apple’s diversity chief out after outcry | New York Post" vcontent="yet" %}
			{% include link href="http://fortune.com/2017/03/24/ebay-publishes-its-diversity-numbers/" title="eBay Publishes its Diversity Numbers | Fortune" vcontent="to" %}
			{% include link href="https://www.wired.com/story/the-dirty-war-over-diversity-inside-google/" title="The Dirty War Over Diversity Inside Google | WIRED" vcontent="see" %}
			{% include link href="https://www.geekwire.com/2017/microsoft-reports-modest-diversity-gains-boosted-linkedin-workforce-hiring-initiatives/" title="Microsoft reports modest diversity gains, boosted by LinkedIn workforce and hiring initiatives | GeekWire" vcontent="it" %}
			{% include link href="https://www.cnbc.com/2017/08/02/facebook-diversity-numbers.html" title="Facebook on hiring more minorities: 'It's complicated' | CNBC" vcontent="meaningfully" %}
			{% include link href="https://www.recode.net/2017/10/21/16512448/amazon-gender-diversity-leadership-executives-jeff-bezos" title="It's 2017 and Amazon only has one woman among its 18 most powerful executives | Recode" vcontent="materialize" %}
			{% include link href="https://www.engadget.com/2017/08/15/intel-diversity-report-slow-growth-women-and-minorities/" title="Intel's diversity report shows slow growth for women and minorities | Engadget" vcontent="in" %}
			{% include link href="https://www.theregister.co.uk/2017/09/28/amazon_web_services_fumbles_diversity_recruiting_email/" title="'Dear diversity hire...' Amazon's weapons-grade fail in recruitment email to woman techie | The Register" vcontent="any" %}
			{% include link href="https://www.usatoday.com/story/tech/news/2017/01/19/twitter-diversity-2016/96749454/" title="Twitter users are diverse but not its staff | USA Today" vcontent="form" %}{% include _ x="emph|STRONG" %}.
		{% include _ o="hi" a="rend=strong" %}{% include _ o="emph" v="We are told" %}{% include _ x="hi" %}
		{% include _ v="that" %}
		{% include link href="https://www.wired.com/story/twitter-harassment-update/" title="Twitter's Winning the War on Harassment—So Says Twitter | WIRED" vcontent="harrassment" %}
		{% include _ v="is" %}
		{% include link href="https://www.facebook.com/communitystandards#bullying-and-harassment" title="Community Standards § Bullying and Harassment | Facebook" vcontent="unacceptable" %},
		{% include _ v="but" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include link href="https://www.theatlantic.com/technology/archive/2017/10/twitters-harassment-problem-is-baked-into-its-design/542952/" title="Twitter's Harassment Problem Is Baked Into Its Design | The Atlantic" vcontent="sites" %}
			{% include _ v="and" %}
			{% include link href="https://www.polygon.com/2017/11/7/16620400/youtube-algorithm-kids-programming" title="YouTube’s big problem has always been its algorithm, not kids programming | Polygon" vcontent="algorithms" %}
			{% include _ v="remain" %}
			{% include link href="https://www.theguardian.com/technology/2016/dec/16/google-autocomplete-rightwing-bias-algorithm-political-propaganda" title="How Google's search algorithm spreads false information with a rightwing bias | The Guardian" vcontent="designed" %}
			{% include _ v="to help it grow" %}{% include _ x="emph|STRONG" %}.
	{% include _ x="p" n=1 %}
	{% include _ o="p" %}
		{% include _ v="The words do not line up with the facts" %}.
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="Far from a threat to society" %},
			{% include _ v="these unsavory aspects of" %}
			{% include _ o="soCalled" v="cyberspace" %}
			{% include _ v="seem to be part" %}{% include - %}{% include _ v="and" %}{% include - %}{% include _ v="parcel with its normal operation and expected functioning" %}.{% include _ x="emph|STRONG" %}
		{% include _ v="And" %}—{% include _ v="at the same time" %}—{% include _ o="emph|STRONG" a="rend=strong" v="other stories are not being told" %}.
		{% include _ o="hi" v="The" %}
		{% include _ v="indie" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="artists and musicians struggling" %}
			({% include _ v="and" %},
			{% include _ v="often" %},
			{% include _ o="emph" v="succeeding" %})
			{% include _ v="to find audiences" %}{% include _ x="emph|STRONG" %}
		{% include _ v="amidst the massive centralization" %},
		{% include _ v="appropriation" %},
		{% include _ v="and commodification of virtually every artform" %}.
		{% include _ o="hi" v="The" %}
		{% include _ v="networks of" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="trans folx providing each other with care and support" %}
		{% include _ v="sorely lacking in society at" %}{% include - %}{% include _ v="large" %}.
		{% include _ o="hi" v="The" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="communities of friends" %},
			{% include _ v="activists" %},
			{% include _ v="and lovers" %}{% include _ x="emph|STRONG" %},
		{% include _ v="working together" %},
		{% include _ v="in their spare time" %},
		{% include _ v="for little" %}{% include - %}{% include _ v="to" %}{% include - %}{% include _ v="no pay" %},
		{% include _ v="to design and implement systems which will help to liberate them from capitalism" %}{% include _ v="'s hold" %}.
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="Some of these are not stories so much as sensations" %}.{% include _ x="emph|STRONG" %}
		{% include _ v="The" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="warmth of a screen" %}
		{% include _ v="on a long" %},
		{% include _ v="darkened road" %}.
		{% include _ v="The" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="buzz of your partner" %}
		{% include _ v="after an anxious night alone" %}.
	{% include _ x="p" n=1 %}
	{% include _ o="p" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="We must consider the consequences of conceiving of the digital landscape as one of pure capitalistic exploitation and military expansion" %},
			{% include _ v="in which the lives and needs of its inhabitants are supernumerary and inconsequential" %}
			({% include _ v="except as subscribers" %},
			{% include _ v="customers" %},
			{% include _ v="or subjects" %})
			{% include _ v="to the machinations of power at play" %}.{% include _ x="emph|STRONG" %}
		{% include _ v="If this is indeed the shape that" %}
		{% include _ o="soCalled" v="cyber" %}
		{% include _ v="space takes on today" %},
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ o="emph" v="might we not need a new kind of fraughtness" %}{% include _ x="emph|STRONG" %},
		{% include _ v="one which" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="challenges this social order" %}
		{% include _ v="and" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="reasserts the value of life and community" %}
		{% include _ v="in our day" %}{% include - %}{% include _ v="to" %}{% include - %}{% include _ v="day interactions online" %}?
		{% include _ v="To put the question another way" %}:
		{% include _ v="Is" %}
		{% include _ o="emph" v="this" %}
		({% include _ v="capitalism" %},
		{% include _ v="militarism" %},
		{% include _ v="exploitation" %},
		{% include _ v="oppression" %})
		{% include _ v="all that" %}
		{% include _ o="quote" c="computers and electrionic communication" %}
		{% include _ v="can be" %}?
		{% include _ v="Or" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ o="emph" %}{% include _ v="are there other landscapes imaginable" %}?{% include _ x="emph" %}{% include _ x="emph|STRONG" %}
	{% include _ x="p" n=1 %}
	{% include _ o="p" %}
		{% include _ v="Pursuing this question is what" %}
		{% include _ o="term" v="cybre theory" %}
		{% include _ v="is all about" %}.
		{% include _ v="It is a" %}
		{% include _ o="emph|STRONG" a="rend=strong" %}{% include _ v="queering of conventional" %}
			{% include _ o="soCalled" v="cyber" %}
			{% include _ v="discourse" %}{% include _ x="emph|STRONG" %}
		{% include _ v="to shed light on the" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="personal" %},
		{% include _ v="the" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="intimate" %},
		{% include _ v="the" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="community" %},
		{% include _ v="the" %}
		{% include _ o="emph|STRONG" a="rend=strong" v="many and varied bonds" %}
		{% include _ v="which tie us together through technology outside of pure capitalistic norms" %}.
		{% include _ o="emph|STRONG" a="rend=strong" v="It is also a call to action" %}
		{% include _ v="against those systems and structures which seek to oppress" %},
		{% include _ v="control" %},
		{% include _ v="and ultimately erase these bonds from existence" %}.
	{% include _ x="p" n=1 %}
	{% include _ o="p" %}
		{% include _ o="title" level="s" %}{% include _ o="hi" a="rend=highlight" c="CYBREMONDAY" %}{% include _ x="title" %}
		{% include _ v="is a casual webzine aimed at elucidating conversations and ideas" %},
		{% include _ v="questioning existing narratives" %},
		{% include _ v="and promoting discussion regarding life and culture in" %}
		({% include _ v="cyber" %}/{% include _ v="cybre" %}){% include _ v="space" %}.
		{% include _ v="This is its zeroth issue" %}.
	{% include _ x="p" n=1 %}
	<nav id=toc>
		<h4>{% include _ v="In this issue" %}…</h4>
		<ol start=0>
			<li> <a class=block href=#introduction>{% include _ v="Introduction" %}: <strong><cite class=analytic>{% include _ v="Cybre is" %}…?</cite></strong></a>
			<li> <a class=block href=#knowledge-power><strong><cite class=analytic>{% include _ v="Seizing the Means of Knowledge" %}{% include - %}Production</cite></strong></a>
			<li> <a class=block href=#pride><strong><cite class=analytic>{% include _ v="Cybre Pride" %}</cite></strong></a>
			<li> <a class=block href=#messaging><strong><cite class=analytic>{% include _ v="The Message is not the Message" %}; {% include _ v="or" %}, {% include _ v="Virality is not the Cure" %}</cite></strong></a>
		</ol>
	</nav>
{% include _ x="div2" %}

<section id=knowledge-power>
	{% capture content %}{% include _ v="Seizing the Means of Knowledge" %}{% include - %}{% include _ v="Production" %}{% endcapture %}{% include layout_A/sectionlink id="knowledge-power" title=content %}
	{% include _ o="p" %}
		{% include _ v="Over the past few years" %},
		{% include _ v="the landscape has shifted dramatically in terms of how we talk about the internet" %}.
		{% include _ v="In one sense" %},
		{% include _ v="this is to say" %}:
		{% include _ o="emph|STRONG" a="rend=strong" v="we talk about it at all" %}.
		{% include _ o="country" c="Twitter" %}, {% include _ o="country" c="Facebook" %},
		{% include _ v="et al receive mainstream treatment in the daily news as questions arise regarding everything from" %}
		{% include link href="https://www.cnn.com/2017/12/28/politics/trump-tweets-legal-cases-official-statements/" title="Trump's tweets central to legal cases on dossier, travel ban and more | CNNPolitics" vcontent="their use" %}
		{% include _ v="by government officials to" %}
		{% include link href="https://www.usatoday.com/story/tech/2018/01/22/facebook-tries-wipe-out-election-meddling-before-2018-midterms/1055710001/" title="Facebook, admitting it can be bad for democracy, tries to end voter meddling before midterms | USA Today" vcontent="their role" %}
		{% include _ v="in the" %}
		{% include _ o="rs" a="type=event" %}{% include date when="2016" %}
			{% include _ o="country" %}{% include _ o="abbr" h="United States" c="US" %}{% include _ x="country" %}
			{% include _ o="roleName" v="Presidential" %}
			{% include _ v="election" %}{% include _ x="rs" %};
		{% include _ v="bugs like" %}
		{% capture content %}{% include _ o="name" c="Heartbleed" %}{% endcapture %}{% include link href="http://heartbleed.com/" title="The Heartbleed Bug" content=content %}
		{% include _ v="and" %}
		{% capture content %}{% include _ o="name" c="Spectre" %}{% endcapture %}{% include link href="https://spectreattack.com/" title="Meltdown and Spectre" content=content %}
		{% include _ v="become issues of international concern" %};
		{% include link href="www.businessinsider.com/russian-hacker-democrats-dnc-intelligence-2017-12" title="Jailed Russian hacker: I hacked Democrats 'under the command' of Russian intelligence agents | Business Insider" vcontent="hackers" %}
		{% include _ v="and" %}
		{% include link href="https://www.wired.com/story/mirai-botnet-minecraft-scam-brought-down-the-internet/" title="How a Dorm Room Minecraft Scam Brought Down the Internet | WIRED" vcontent="botnets" %}
		{% include _ v="and" %}
		{% capture content %}{% include _ o="soCalled" v="those damn emails" %}{% endcapture content %}{% include link href="http://www.mtv.com/news/2962388/the-meme-of-the-year/" title="The Meme Of The Year | MTV News" content=content %}
		{% include _ v="have now dominated political discussions for over a year" %}.
	{% include _ x="p" n=1 %}
	{% include _ o="p" %}
		{% include _ v="Created by mass media for an" %} (inter)national audience, these stories typically centre on big businesses, large governments, or—occasionally—one or two problematic individuals who have managed to make something difficult for the aformentioned.
		{% include _ o="emph|STRONG" a="rend=strong" v="Gone are the days" %} of talking about <em>{% include _ o="soCalled" v="internet communities" %}</em> and <em>{% include _ o="soCalled" v="digital uprising" %}</em>—acknowledging the {% include _ o="emph|STRONG" a="rend=strong" v="radical transformative potential" %} of cybre movements like {% include _ o="ident" a="type=hashtag" c="#ArabSpring" %} ceased quickly once {% include _ o="ident" a="type=hashtag" c="#BlackLivesMatter" %} showed that <strong>{% include _ v="it could happen in" %} {% include _ o="country" c="the States" %} too</strong>.
		{% include _ v="Instead" %}, internet spaces are construed as {% include _ o="emph|STRONG" a="rend=strong" v="political in the worst way" %}—a politics of <strong>{% include _ v="pure" %}, empty strucutres</strong>, devoid of life and material consequence, {% include _ o="emph|STRONG" a="rend=strong" v="interacting like clockwork" %} according to the forces of power at play.
	<blockquote>
		<p>
			{% include _ v="How far do we have to stretch" %}<br><span class=pre>	</span>{% include _ v="the picture" %},<br>{% include _ v="Before pixellating" %}<br><span class=pre>	</span>{% include _ v="the human texture" %}?
		<footer>{% include _ o="persName" c="nujabes" %} {% include _ o="abbr" h="featuring" c="feat." %} {% include _ o="persName" c="Shing02" %}. {% include link href="https://www.youtube.com/watch?v=UyoYf7rZVGI" title="Nujabes - luv (sic.) pt 3 [ft.shing02] | YouTube" content="<cite class=analytic>Luv(sic.), <abbr title=\"Part\">Pt.</abbr> 3</cite>" %}. In <cite class=monogr>{% include _ v="Modal Soul" %}</cite>. {% include _ o="orgName" c="Hydeout Productions" %}, {% include date datetime="2015-11-11" %}</footer>
	</blockquote>
	<p>
		{% include _ v="While woefully inaccurate" %}, speaking about the internet as though it were devoid of inhabitants {% include _ o="emph|STRONG" a="rend=strong" v="serves the interests" %} of {% include _ o="emph|STRONG" a="rend=strong" v="those who seek to exploit it" %}, ethical concerns—and even personal agency—fading into the distance on such a broad scale.
		{% include _ v="As an" %} (to varying degrees) open publishing platform, there is nothing which can be done to {% include _ o="emph" v="directly" %} inhibit the {% include _ o="emph|STRONG" a="rend=strong" v="publishing of counternarratives" %} or the recognition of individual or collective life, voice, and agency online.
		{% include _ v="However" %}, {% include _ o="emph|STRONG" a="rend=strong" v="these things can be easily dismissed" %} so long as they can be classified as {% include _ o="soCalled" v="offtopic" %} or {% include _ o="soCalled" v="irrelevant" %}—and in an age where the {% include _ o="soCalled" v="relevance" %} of knowledge is {% include _ o="emph|STRONG" a="rend=strong" v="largely determined by corporate algorithms" %} (à la {% include _ o="orgName" c="Bing" %}, {% include _ o="orgName" c="Twitter" %}, {% include _ o="orgName" c="Facebook" %}, {% include _ o="orgName" c="Google" %}), this is no small matter.
		{% include _ v="In an internet which overflows with" %} {% include _ o="emph" v="information" %}, we have {% include _ o="emph|STRONG" a="rend=strong" v="given up the means" %} of producing our own {% include _ o="emph" v="knowledge" %}—and it is {% include _ o="emph|STRONG" a="rend=strong" v="well past time" %} to take those back.
	<p>
		{% include _ v="Consequently" %}, it is imperative that we not only concentrate our efforts on the {% include _ o="emph" v="publishing" %} of cybre narratives, but that we also <strong>{% include _ v="repeatedly and unrelentingly affirm these narratives as important" %}, topical, and meaningful</strong>, at least as much as those being published on a grander scale.
		<strong>{% include _ v="As content which runs counter to the normative gaze of" %} {% include _ o="soCalled" v="relevance" %}</strong>, such stories will {% include _ o="emph" v="by definition" %} be <strong>{% include _ v="difficult to discover through" %} {% include _ o="emph" v="conventional" %} means</strong>—and, in many ways, this is desirable.
		{% include _ v="But it means that" %} <strong>{% include _ v="we must develop a practice of actively promoting" %}, sharing in, and involving ourselves, on the community level, with these conversations</strong>, and create {% include _ o="emph" v="other" %} passages through which they might be seen or heard.
	<p>
		{% include _ v="The goal here is not to push radical narratives into the mainstream discourse so much as it is to" %} <strong>{% include _ v="decentre the mainstream discourse as the be" %}{% include - %}all and end{% include - %}all of what matters to us, our loved ones, and our communities</strong>.
		{% include _ v="The" %} (inter)national politick will always be of concern to the people, but this does not imply that the people should be solely concerned with the (inter)national politick.
		{% include _ v="Cybre shops local" %}.
		{% include _ v="And so it goes" %}.
</section>

<section id=pride>
	{% include layout_A/sectionlink id="pride" title="Cybre Pride" %}
	<p>
		<strong>{% include _ v="I was only 14" %}</strong> when {% include _ o="orgName" c="Yahoo" %} {% include link href="https://techcrunch.com/2009/04/23/yahoo-quietly-pulls-the-plug-on-geocities/" title="Yahoo Quietly Pulls The Plug On Geocities | TechCrunch" content="announced" %} that <strong>{% include _ o="country" c="GeoCities" %} in the {% include _ o="country" c="United States" %} would be shut down</strong>—as my internet history at the time consisted almost entirely of {% include _ o="country" c="RuneScape" %} and {% include _ o="settlement" c="Wikipedia" %}, it's safe to say that the event hardly registered on my radar.
		{% include _ v="I didn" %}'t even really learn what {% include _ o="country" c="GeoCities" %} {% include _ o="emph" v="was" %} until much later, through websites like {% include link href="http://oneterabyteofkilobyteage.tumblr.com/" content="<i class=series>One Terabyte of Kilobyte Age Photo Op</i>" %} and browsing the collection in {% include link href="https://archive.org/web/geocities.php" content="<cite class=series>the Internet Archive</cite>" %}.
		{% include _ v="This discovery came roughly synonymously with my decision to switch to a" %} {% include _ o="orgName" c="Gender Studies" %} major, and so naturally I found myself <strong>{% include _ v="wandering the streets of" %} {% include _ o="settlement" c="WestHollywood" %}</strong>, browsing the homepages of an {% include _ o="abbr" h="Lesbian, Gay, Bisexual, and Transgender" c="LGBT" %} community of years gone by.
	<p>
		{% include _ v="Some of what I discovered there" %}, I had {% include _ o="emph|STRONG" a="rend=strong" v="expected to find" %}:
		{% include _ o="hi" v="The" %} <strong>{% include _ v="homewrought" %}, old{% include - %}fashioned look and feel</strong> of the pages;
		{% include _ o="hi" v="the" %} {% include _ o="emph|STRONG" a="rend=strong" v="inconsistent" %} (often within the same page) {% include _ o="emph|STRONG" a="rend=strong" v="rhetoric and terminology" %};
		{% include _ o="hi" v="the" %} {% include _ o="emph|STRONG" a="rend=strong" v="frequent fetishization and sexualization" %} of queer—especially trans—bodies;
		{% include _ o="hi" v="the" %} {% include _ o="emph|STRONG" a="rend=strong" v="stories of struggle and queer oppression" %};
		{% include _ o="hi" v="the" %} <strong>{% include _ v="vibrant" %}—if somewhat under{% include - %}the{% include - %}surface—community</strong>, using the tools they had available to persist through it all.
		{% include _ v="Other things" %}, perhaps betraying my naïveté, {% include _ o="emph|STRONG" a="rend=strong" v="caught me completely by surprise" %}; for example, the <strong>{% include _ v="long" %}, legalistic introductory pages</strong> which demanded that visitors be a legal adult before even {% include _ o="emph" v="beginning" %} to look at information on being trans or gay.
	<figure id=fig.geocities>
		<iframe class=webview src="{{ "/CMBD0001/" | relative_url }}">{% include _ v="Example GeoCities warning page" %}: {{ "/CMBD0001/" | relative_url }}.</iframe>
	</figure>
	<p>
		{% include _ o="emph|STRONG" a="rend=strong" v="In modern times" %}, of course, the situation has—at least on the surface—changed.
		{% include link href="https://www.facebook.com/LGBTQ/" title="LGBTQ@Facebook | Facebook" content="Tech" %} {% include link href="https://www.macrumors.com/2017/06/25/apple-celebrates-pride-parades/" title="Apple Celebrates Pride During Parades in San Francisco, New York City, and Toronto | Mac Rumors" content="corporations" %} {% include link href="https://mashable.com/2017/06/01/lgbtq-pride-month-twitter-emoji/" title="Twitter's LGBTQ heart emoji just got an inclusive update for Pride Month | Mashable" content="across" %} {% include link href="https://www.ibm.com/blogs/policy/diversity-rainbow-8bar/" title="A New Symbol of IBM’s Diversity Leadership | IBM THINKPolicy" content="the" %} {% include link href="https://instagram-press.com/blog/2017/05/31/pride-2017/" title="Celebrating Pride 2017 on Instagram | Instagram Press" content="board" %} <strong>{% include link href="https://pride.google/" title="#ShowUp | Google" content="openly" %} {% include link href="http://www.refinery29.com/2017/06/159161/snapchat-pride-creative-tools-2017" title="Take Your Stories Over The Rainbow With Snapchat's Pride-Themed Creative Tools | Refinery29" content="celebrate" %}</strong> {% include link href="https://www.youtube.com/watch?v=uem7QFp0uKY" title="#ProudToBe: Celebrate Brave Voices this Pride | YouTube" content="gay" %} {% include link href="https://www.uber.com/info/pride/" title="Ride With Pride | Uber" content="pride" %} {% include link href="https://blogs.microsoft.com/jobs/microsoft-pride-this-is-who-i-am/" title="Microsoft Pride: This is who I am | Microsoft Life" content="and" %} {% include link href="https://open.spotify.com/view/pride-page" title="Pride | Spotify" content="<abbr title=\"Lesbian, Gay, Bisexual, and Transgender\">LGBT</abbr>" %} {% capture content %}communities{% endcapture %}{% include link href="https://blog.lyft.com/posts/2017/6/5/this-pride-support-equal-rights-for-everyone" title="This Pride, Support Equal Rights for Everyone | Lyft Blog" content=content %}.
		{% include _ v="Mainstream online press" %} <strong>{% include _ v="features" %} {% include link href="https://www.huffingtonpost.com/section/queer-voices" title="Queer Voices | HuffPost" content="explicit" %} {% include link href="https://www.buzzfeed.com/lgbt" title="Buzzfeed LGBT" content="queer" %} {% include link href="http://www.msnbc.com/lgbt" title="LGBT | MSNBC" content="sections" %}</strong>, and {% include _ o="emph|STRONG" a="rend=strong" v="queer media is promoted" %} to users through services like {% include _ o="orgName" c="Spotify" %} and {% include _ o="orgName" c="Netflix" %}.
		{% include _ v="From a cursory glance at these websites" %}, it seems the fight for cybre queer representation has {% include _ o="emph|STRONG" a="rend=strong" v="already been won" %}.
	<p>
		{% include _ v="Under the surface" %}, though, things are much the same.
		{% include _ v="Queer" %}—especially trans—users are <strong>{% include link href="https://www.nytimes.com/2017/11/02/opinion/twitter-transgender-harassment-problem.html" title="Twitter Has a Transgender Problem | The New York Times" content="frequently" %} {% include link href="https://www.theguardian.com/technology/2014/jan/07/google-hangouts-faces-criticism-after-outing-trans-woman" title="Android and Google+ confusion outs trans woman | The Guardian" content="mistreated" %} {% include link href="https://modelviewculture.com/pieces/twitters-new-verification-process-is-a-game-rigged-against-its-marginalized-users" title="Twitter’s New Verification Process is a Game Rigged Against Its Marginalized Users | Model View Culture" content="or" %} {% include link href="https://medium.com/@zip/my-name-is-only-real-enough-to-work-at-facebook-not-to-use-on-the-site-c37daf3f4b03#.3rpxv7zdr" title="My name is only real enough to work at Facebook, not to use on the site | Medium" content="banned" %}</strong> from social media; queer content and resources <strong>{% include link href="https://www.wired.com/story/facebooks-hate-speech-policies-censor-marginalized-users/" title="Facebook’s Hate Speech Policies Censor Marginalized Users | WIRED" content="continue" %} to be {% include link href="https://qz.com/1190263/why-is-instagram-censoring-zoe-leonards-poem-from-1992/" title="Why is Instagram censoring a 1992 poem revered by the LGBTQ community?" content="restricted" %}</strong>, {% include link href="https://gizmodo.com/youtubes-restricted-mode-is-hiding-some-lgbt-content-1793382337" title="YouTube's Restricted Mode Is Hiding Some LGBT Content | Gizmodo" content="especially" %} from {% include link href="https://mic.com/articles/180601/twitter-was-flagging-tweets-including-the-word-queer-as-potentially-offensive-content" title="Twitter was flagging tweets including the word &quot;queer&quot; as potentially &quot;offensive content&quot; | Mic" content="younger" %} {% include link href="https://theestablishment.co/why-are-tumblr-twitter-and-youtube-blocking-lgbtq-content-e54e7acf4b5c" title="Why Are Tumblr, Twitter, And YouTube Blocking LGBTQ+ Content? | The Establishment" content="users" %}.
		<strong>{% include _ v="And there are newer problems as well" %}.</strong>
		{% include _ o="hi" v="The" %} ever{% include - %}increasing focus on a <strong>{% include _ v="white and" %}/or privileged</strong> gay experience; {% include _ o="hi" v="the" %} {% include _ o="emph|STRONG" a="rend=strong" v="emphasis on allies" %} and {% include _ o="soCalled" v="showing support" %} over providing material help or change; {% include _ o="hi" v="the" %} {% include _ o="emph|STRONG" a="rend=strong" v="appropriation of queer narratives and trauma" %} for clickbait income.
	<p>
		{% include _ v="In fact" %}, despite appearances, when it comes to {% include _ o="emph|STRONG" a="rend=strong" v="connecting people with resources" %} or {% include _ o="emph|STRONG" a="rend=strong" v="accurately reflecting the queer experience" %} online, <strong>{% include _ o="emph" v="things might be worse than ever" %}</strong>.
		{% include _ v="The steady encroachment on personal and nonprofit websites by" %} {% include _ o="orgName" c="Google" %}, {% include _ o="orgName" c="Facebook" %}, and {% include _ o="orgName" c="Amazon" %}—as well as the postweb internet of {% include _ o="persName" c="Alexa" %} and {% include _ o="persName" c="Siri" %}—have restricted both the {% include _ o="emph|STRONG" a="rend=strong" v="amount of information available" %} and the {% include _ o="emph|STRONG" a="rend=strong" v="kind of community structures allowed" %} to only that which those providers see fit to approve or design for.
		{% include _ v="As one particularly drastic example" %}: The {% include _ o="orgName" c="International Foundation for Gender Education" %} website <strong>{% include link href="http://web.archive.org/web/20091104053637/http://www.ifge.org/" title="The International Foundation for Gender Education &amp; Transgender Tapestry | Internet Archive Wayback Machine" content="was once" %} one of the best resources on the web</strong> for trans information—<strong>{% capture content %}{% include _ v="poorly" %}{% include - %}{% include _ v="formatted blog" %}{% endcapture %}{% include _ v="now it is little more than a" %} {% include link href="http://www.ifge.org/" title="The International Foundation for Gender Education" content=content %}</strong>.
	<blockquote>
		<p>{% include _ v="IFGE has offered a Web site containing information for transgender people since 1998" %}. The site was very heavily used by transgender people seeking information on the Internet in the late 1990s and early 2000s, with respondents to a 2002 survey identifying the site as the "best source on the internet," (p.&nbsp;102) preferring the site to {% include link href="https://en.wikipedia.org/wiki/Google" title="Google" content="Google" %} and {% include link href="https://en.wikipedia.org/wiki/Yahoo" title="Yahoo" content="Yahoo" %} for trans-related information seeking.<sup>{% include link href="https://en.wikipedia.org/wiki/International_Foundation_for_Gender_Education#cite_note-6" content="[6]" %}</sup></p>
		<footer>{% include link href="https://en.wikipedia.org/wiki/International_Foundation_for_Gender_Education#Web_site" title="International Foundation for Gender Education § Web site | Wikipedia" content="<cite class=analytic>International Foundation for Gender Education</cite>" %}. {% include link href="https://en.wikipedia.org/" content="<cite class=monogr>Wikipedia</cite>" %}. Last modified {% include date datetime="2017-01-02" %}.</footer>
	</blockquote>
	<p>
		{% include _ v="Placing gay cybre culture in the hands of companies whose workforces are primarily straight" %}, white, and male <strong>{% include _ v="simply doesn" %}'t make sense</strong>.
		{% include _ v="Consequently" %}, we must {% include _ o="emph|STRONG" a="rend=strong" v="reclaim and reposition cybre pride" %} as something which is created under our own authorship, within our own communities.
		{% include _ o="emph|STRONG" a="rend=strong" v="It is not enough" %} to merely denounce corporations' gesutres towards {% include _ o="abbr" h="Lesbian, Gay, Bisexual, and Transgender" c="LGBT" %} acceptance as hypocritical—we must {% include _ o="emph|STRONG" a="rend=strong" v="provide a counternarrative" %} which {% include _ o="emph|STRONG" a="rend=strong" v="demonstrates and reaffirms queer pride and community" %}—in all its forms and complexity, outside the boundaries of what is normative or deemed acceptable in the public sphere.
	<p>
		{% include _ v="This means" %} {% include _ o="emph|STRONG" a="rend=strong" v="doing more than just protest" %} (although, by all means, continue to protest).
		{% include _ v="It means" %} {% include _ o="emph|STRONG" a="rend=strong" v="finding reason to celebrate" %} and {% include _ o="emph|STRONG" a="rend=strong" v="making queer culture our own" %}.
</section>

<section id=messaging>
	{% include layout_A/sectionlink id="messaging" title="The Message is not the Message;<br>or, Virality is not the Cure" %}
	<p>
		{% include _ o="emph|STRONG" a="rend=strong" v="It is easy" %}, when considering and discussing the fraught nature of modern cybrespace—perhaps, when faced with a <cite class=monogr>{% include _ v="Manifesto" %}</cite>—to think that <strong>{% include _ v="the message of cybre" %} {% include _ o="emph" v="is" %} its message</strong>; that the message is self{% include - %}justifying, so to speak, and the purpose of cybre discourse is to promote cybre discourse and {% include _ o="emph|STRONG" a="rend=strong" v="not some higher aspiration or aim" %}.
		{% include _ v="Given this" %}, {% include _ o="emph|STRONG" a="rend=strong" v="virality seems the obvious tack to take" %}, spreading and sharing content among friends and peers and social networks, arguing points and jumping into mentions and doing all of the work that propagating a message entails.
	<p>
		<strong>{% include _ v="This impression is deceiving" %}, and it is wrong.</strong>
		{% include _ v="The message of cybre" %}—the {% include _ o="emph|STRONG" a="rend=strong" v="imagining of a new digital landscape" %} which respects {% include _ o="emph|STRONG" a="rend=strong" v="life" %}, {% include _ o="emph|STRONG" a="rend=strong" v="community" %}, and {% include _ o="emph|STRONG" a="rend=strong" v="our many and varied relationships of support" %}, in {% include _ o="emph|STRONG" a="rend=strong" v="all their diverse complexity" %}—is {% include _ o="emph|STRONG" a="rend=strong" v="not something which can be spread" %} via discourse or social media post, but through {% include _ o="emph|STRONG" a="rend=strong" v="decades of work" %} to develop the structures {% include _ o="emph|STRONG" a="rend=strong" v="from which these forms might evolve" %}.
		{% include _ v="Indeed" %}, {% include _ o="emph|STRONG" a="rend=strong" v="insofar as it diverts queer energies" %} {% include _ o="emph|STRONG" a="rend=strong" v="away from making progress" %} and {% include _ o="emph|STRONG" a="rend=strong" v="into defending positions" %}, and {% include _ o="emph|STRONG" a="rend=strong" v="insofar as it centralizes discussion" %} inside the normative structures {% include _ o="emph|STRONG" a="rend=strong" v="whose dismantling is our ultimate aim" %}, {% include _ o="emph|STRONG" a="rend=strong" v="discourse is our opponent" %} in this journey forward.
	<blockquote>
		<p>{% include _ v="We need fewer well" %}-intentioned essays addressed to bros with good intentions about why sexist language might seem good but is bad. In the tech feminism community, we’ve been writing these essays for most of a decade. The {% include _ o="emph" v="systematic" %} use of abuser tactics to control conversations and shut down criticism continues. These conversations go on and on, and happen over and over, each one seemingly unencumbered by the lessons of the previous one — <em>{% include _ v="what" %}’s happening isn’t a conversation at all, but rather, a power struggle</em>.</p>
		<footer><u class=persName>{% include _ o="forename" c="Tim" %} {% include _ o="surname" c="Chevalier" %}</u>. {% include link href="https://modelviewculture.com/pieces/gendered-language-feature-or-bug-in-software-documentation" content="<cite class=analytic>Gendered Language: Feature or Bug in Software Documentation?</cite>" %}. In {% include link href="https://modelviewculture.com/" content="<cite class=series>Model View Culture</cite>" %}, {% include link href="https://modelviewculture.com/issues/lean-out" content="<cite class=monogr>Lean Out</cite>" %}. {% capture content %}{% include _ o="orgName" c="Feminist Technology Collective" %}{% endcapture content %}{% include link href="http://feministtechnologycollective.com/" content=content %}, {% include date datetime="2014-02-24" %}.</footer>
	</blockquote>
	<p>
		{% include _ o="emph|STRONG" a="rend=strong" v="Far from a quick path to success" %}, virality has proven itself over the past few years to be a {% include _ o="emph|STRONG" a="rend=strong" v="source of violence and harrassment" %} in exchange for {% include _ o="emph|STRONG" a="rend=strong" v="little or no material gain" %}.
		{% include _ v="Almost by definition" %}, in order to reach a viral state, a message must first be {% include _ o="emph|STRONG" a="rend=strong" v="reduced and reformatted" %} into something which is {% include _ o="emph|STRONG" a="rend=strong" v="palatable to the mainstream" %}.
		{% include _ v="In doing so" %}, the {% include _ o="emph|STRONG" a="rend=strong" v="fundamental urgency and nuance" %} of the original is invariably lost.
		{% include _ o="emph|STRONG" a="rend=strong" v="Viral moments are ephemeral" %}, burning quickly and then vanishing as the next takes centrestage.
		{% include _ v="But" %} <strong>{% include _ v="the cybre project is persistent" %}, ongoing, continual</strong>, reaching back to the very first days of networked connectivity and forward into futures unknown.
	<blockquote>
		<p>{% include _ v="As separate spectacles" %}, we are less threatening.</p>
		<footer><u class=persName>{% include _ o="forename" c="Suey" %} {% include _ o="surname" c="Park" %}</u> &amp; <u class=persName>{% include _ o="forename" c="Eunsong" %} {% include _ o="surname" c="Kim" %}</u>. {% include link href="https://modelviewculture.com/pieces/hashtags-as-decolonial-projects-with-radical-origins" content="<cite class=analytic>Hashtags as Decolonial Projects with Radical Origins</cite>" %}. In {% include link href="https://modelviewculture.com/" content="<cite class=series>Model View Culture</cite>" %}, {% include link href="https://modelviewculture.com/issues/mythology" content="<cite class=monogr>Mythology</cite>" %}. {% capture content %}{% include _ o="orgName" c="Feminist Technology Collective" %}{% endcapture content %}{% include link href="http://feministtechnologycollective.com/" content=content %}, {% include date datetime="2014-03-17" %}.</footer>
	</blockquote>
	<p>
		{% include _ v="In some ways" %}, the project of discourse is {% include _ o="emph|STRONG" a="rend=strong" v="doomed from the start" %}.
		{% include _ o="emph|STRONG" a="rend=strong" v="How to describe" %} the {% include _ o="emph|STRONG" a="rend=strong" v="feelings of hurt and precariousness" %} which accompany everyday life for marginalized queers in the modern connected world?
		{% include _ o="emph|STRONG" a="rend=strong" v="How to explain" %} that <em>{% include _ v="these are" %} {% include _ o="emph|STRONG" a="rend=strong" v="not just numbers" %} for us</em> (<b>{% include _ v="40" %}%</b> of trans respondents attempting suicide at some time in their lives, <b>{% include _ v="30" %}%</b> experiencing homelessness, <b>{% include _ v="47" %}%</b> being victims of sexual assault, <b>{% include _ v="10" %}%</b> in the last year, <b>{% include _ v="13" %}%</b> while in K–12, <b>{% include _ v="58" %}%</b> reporting harrassment by police in the past year alone, <b>{% include _ v="30" %}%</b> facing mistreatment in the workplace, <b>{% include _ v="15" %}%</b> now facing unemployment, <b>{% include _ v="29" %}%</b> living in poverty, and all of these numbers increasing dramatically when componded with other forms of marginalization—according to {% include link href="http://www.ustranssurvey.org/reports" title="USTS Reports | 2015 U.S. Transgender Survey" content="the <cite class=monogr>2015 U.S. Transgender Survey</cite>" %}), but {% include _ o="emph|STRONG" a="rend=strong" v="our lived experiences" %}, and those of {% include _ o="emph|STRONG" a="rend=strong" v="our friends" %}, {% include _ o="emph|STRONG" a="rend=strong" v="our lovers" %}, {% include _ o="emph|STRONG" a="rend=strong" v="our families" %}, and {% include _ o="emph|STRONG" a="rend=strong" v="our communities" %}?
		{% include _ o="emph|STRONG" a="rend=strong" v="How to argue and debate" %} over the {% include _ o="emph|STRONG" a="rend=strong" v="fundamental value of a life" %}, its {% include _ o="emph|STRONG" a="rend=strong" v="right to exist" %} in a space, its {% include _ o="emph|STRONG" a="rend=strong" v="right to the resources and support" %} that it needs to survive and to flourish, despite whatever forces might seek to oppress and control?
	<p>
		<strong>{% include _ v="There are no words" %}, and there never will be.</strong>
		{% include _ v="And so" %} {% include _ o="emph|STRONG" a="rend=strong" v="our goal must be something more" %} than merely {% include _ o="emph" v="seeking understanding" %} or {% include _ o="emph" v="spreading a message" %}.
		{% include _ v="It must be to" %} {% include _ o="emph|STRONG" a="rend=strong" v="assert value" %}, {% include _ o="emph|STRONG" a="rend=strong" v="change the landscape" %}, {% include _ o="emph|STRONG" a="rend=strong" v="press ever forward" %} into this cybre realm.
		{% include _ v="It must be to" %} {% include _ o="emph|STRONG" a="rend=strong" v="embrace the fraughtness at hand" %}, {% include _ o="emph|STRONG" a="rend=strong" v="turn it into something meaningful" %}, {% include _ o="emph|STRONG" a="rend=strong" v="undo the structures which constrain us" %} and support each other into tomorrow and beyond.
		<strong><em>{% include _ v="This is the cybre mission" %}.</em></strong>
		{% include _ v="Together onward" %}.
</section>

{%- comment %}[Strip whitespace]{% endcomment -%}
