{% comment %}
Core formatting for TEI/HTML Content.
{% endcomment %}@charset "UTF-8";{% assign ext = page.path | split: "." | last %}
{% if ext=="tei" %}
@namespace url("http://www.tei-c.org/ns/1.0");
@namespace xml url("http://www.w3.org/XML/1998/namespace");
{% else %}
//  Initialize
ADDRESS, ARTICLE, ASIDE, BODY, BLOCKQUOTE, CANVAS, CAPTION, DETAILS, DIV, DD, DL, DT, EMBED, FIGCAPTION, FIGURE, FOOTER, H1, H2, H3, H4, H5, H6, HR, HTML, IFRAME, IMG, MAIN, NAV, OBJECT, OL, P, PRE, PROGRESS, SECTION, SVG, TABLE, TBODY, TD, TFOOT, TH, THEAD, TR, VIDEO {
	Margin: initial;
	Border: initial;
	Padding: initial;
	Font: inherit;
	Text-Align: inherit;
	White-Space: inherit;
	Vertical-Align: initial;
}
A, ABBR, B, CITE, CODE, DEL, DFN, EM, I, IMG, INS, KBD, LABEL, MARK, OUTPUT, Q, S, SAMP, SMALL, SPAN, STRONG, SUB, SUP, TIME, U, VAR {
	Border: initial;
	Color: currentColor;
	Font: inherit;
	Text-Decoration: none;
	Vertical-Align: initial;
}
Q::BEFORE, Q::AFTER { Content: none }
*:Root *[Hidden] { Display: none }
*[Title]:Not([Title=""]):Not(.choice) {
	Text-Decoration: underline;
	Text-Decoration-Style: dotted;
}
{% endif %}

//  Display modes.
%block { Display: block }
%cell { Display: table-cell }
%fblock {
	Display: block;
	Display: flex;
}
%iblock { Display: inline-block }
%inline { Display: inline }
%litem { Display: list-item }
%row { Display: table-row }
%table { Display: table }

//  Logical overrides of physical properties (for supporting browsers).
%loginset {
	*:Root & {
		Inset-Block-Start: initial;
		Inset-Block-End: initial;
		Inset-Inline-Start: initial;
		Inset-Inline-End: initial;
	}
}
%logmargin {
	*:Root & {
		Margin-Block-Start: initial;
		Margin-Block-End: initial;
		Margin-Inline-Start: initial;
		Margin-Inline-End: initial;
	}
}
%logmaxsize {
	*:Root & {
		Max-Block-Size: initial;
		Max-Inline-Size: initial;
	}
}
%logpad {
	*:Root & {
		Padding-Block-Start: initial;
		Padding-Block-End: initial;
		Padding-Inline-Start: initial;
		Padding-Inline-End: initial;
	}
}
%logsize {
	*:Root & {
		Block-Size: initial;
		Inline-Size: initial;
	}
}
$logical: "*:Root:Root &";

//  Layout.
%amargin { @extend %logmargin;

	Margin-Left: auto;
	Margin-Right: auto;

	#{$logical} {
		Margin-Inline-Start: auto;
		Margin-Inline-End: auto;
	}
}
%abmargin { @extend %logmargin;

	Margin-Bottom: auto;

	#{$logical} { Margin-Block-End: auto }
}
%atmargin { @extend %logmargin;

	Margin-Top: auto;

	#{$logical} { Margin-Block-Start: auto }
}
%borders { Border: thin currentColor solid }
%bpad { @extend %logpad;

	Padding: 0 .125em;

	#{$logical} {
		Padding-Block-Start: 0;
		Padding-Block-End: 0;
		Padding-Inline-Start: .125em;
		Padding-Inline-End: .125em;
	}
}
%capwidth { @extend %logmaxsize;

	Max-Width: 32em;

	#{$logical} { Max-Inline-Size: 32em }
}
%cflex {
	Flex-Direction: column;
	Align-Items: center;
	Justify-Content: start;
}
%columns {
	Columns: 11.5em auto;
	Column-Fill: balance;
	Column-Gap: 2.5em;
}
%container { Position: relative }
%context {
	Clear: both;
	Overflow: auto;
}
%div { @extend %logmargin;

	Margin-Top: 0.83em;
	Margin-Bottom: 0.83em;

	#{$logical} {
		Margin-Block-Start: 0.83em;
		Margin-Block-End: 0.83em;
	}
}
%divf { @extend %logmargin;

	Margin-Top: 0;
	Margin-Bottom: 0.83em;

	#{$logical} {
		Margin-Block-Start: 0;
		Margin-Block-End: 0.83em;
	}
}
%figBorder {
	Border-Style: solid double double solid;
	Border-Color: currentColor;
	Border-Width: thin medium medium thin;

	#{$logical} {
		Border-Block-Start: thin currentColor solid;
		Border-Block-End: medium currentColor double;
		Border-Inline-Start: thin currentColor solid;
		Border-Inline-End: medium currentColor double;
	}
}
%figpad { @extend %logpad;

	Padding: 0.83em 2.5em;

	#{$logical} {
		Padding-Block-Start: 0.83em;
		Padding-Block-End: 0.83em;
		Padding-Inline-Start: 2.5em;
		Padding-Inline-End: 2.5em;
	}
}
%fullheight { @extend %logsize;

	Height: 100%;

	#{$logical} {
		Block-Size: 100%;
	}
}
%nowidth { @extend %logsize;

	Width: 0;

	#{$logical} {
		Inline-Size: 0;
	}
}
%padl { @extend %logpad;

	Padding-Left: 2.5em;

	#{$logical} { Padding-Inline-Start: 2.5em }
}
%padr { @extend %logpad;

	Padding-Right: 2.5em;

	#{$logical} { Padding-Inline-End: 2.5em }
}
%preContent {
	@extend %loginset;
	@extend %logpad;
	@extend %logsize;

	Position: absolute;
	Top: 0;
	Left: 0;
	Padding-Right: .625em;
	Width: 1.875em;
	Text-Align: right;

	#{$logical} {
		Inset-Block-Start: 0;
		Inset-Inline-Start: 0;
		Padding-Inline-End: .625em;
		Inline-Size: 1.875em;
		Text-Align: end;
	}
}
%unzhoop { @extend %logmargin;

	Margin-Left: -2.5em;
	Margin-Right: -2.5em;

	#{$logical} {
		Margin-Inline-Start: -2.5em;
		Margin-Inline-End: -2.5em;
	}

}
%zhoop { @extend %logmargin;

	Margin-Left: 2.5em;
	Margin-Right: 2.5em;

	#{$logical} {
		Margin-Inline-Start: 2.5em;
		Margin-Inline-End: 2.5em;
	}
}

//  Formatting
%attn { Font-Weight: bolder }
%brackets {
	&::BEFORE { Content: "[" }
	&::AFTER { Content: "]" }
}
%content { Content: "" }
%ctext { Text-Align: center }
%del {
	Text-Decoration: line-through;
	Text-Decoration-Style: wavy;
}
%flip { Transform: rotate(180deg) }
%font {
	Font-Family: normal 1em / 1.5 serif;
	Font-Synthesis: none;
}
%highlight { Border: thin currentColor solid }
%indent { Text-Indent: 2.5em }
%ins {
	Text-Decoration: underline;
	Text-Decoration-Style: double;
}
%large { Font-Size: x-large }
%larger { Font-Size: larger }
%largest { Font-Size: xx-large }
%largeish { Font-Size: large }
%link {
	Text-Decoration: underline;
	Text-Decoration-Style: dashed;

	&[{% include att name="type" %}="foreign"]:Not(:Hover) { Text-Decoration-Style: wavy }
	&:Not([{% include att name="type" %}="foreign"]):Hover { Text-Decoration: none }
}
%list1 { List-Style-Type: disc }
%list2 { List-Style-Type: circle }
%medium { Font-Size: medium }
%mono { Font-Family: monospace }
%name { Font-Variant: small-caps }
%offset { Font-Style: italic }
%noattn { Font-Weight: normal }
%noname { Font-Variant: normal }
%nonumeric { Font-Variant-Numeric: oldstyle-nums }
%noindent { Text-Indent: initial }
%nolist { List-Style-Type: none }
%nooffset { Font-Style: normal }
%nopes {
	&::BEFORE,
	&::AFTER { Content: none }
}
%nottr { Text-Transform: none }
%numeric { Font-Variant-Numeric: lining-nums }
%ordinal { Font-Variant-Numeric: ordinal lining-nums }
%pre { White-Space: pre }
%quoted {
	&::BEFORE { Content: open-quote }
	&::AFTER { Content: close-quote }
}
%rtext {
	Text-Align: right;
	Text-Align: end;
}
%sans { Font-Family: sans-serif }
%serif { Font-Family: serif }
%small { Font-Size: x-small }
%smaller { Font-Size: smaller }
%smallest { Font-Size: xx-small }
%smallish { Font-Size: small }
%thinline { Line-Height: 1 }
%undent { Text-Indent: -2.5em }
%upper {
	Font-Variant-caps: titling-caps;
	Text-Transform: uppercase;
}

*[{% include att name="xml:space" %}="preserve"] { @extend %pre }
{% include tag name="TEI" %} {
	@extend %fblock;
	@extend %cflex;
	@extend %fullheight;
	@extend %font;
	@extend %nonumeric;

	&::BEFORE {
		@extend %block;
		@extend %atmargin;
		@extend %content;
	}
	&::AFTER {
		@extend %block;
		@extend %abmargin;
		@extend %content;
	}
}
{% include tag name="ab" %} {
	@extend %block;
	@extend %div;
}
{% include tag name="abbr" %} { @extend %inline }
{% include tag name="actor" %} {
	@extend %inline;
	@extend %name;
	@extend %nooffset;
}
{% include tag name="add" %} {
	@extend %inline;
	@extend %ins;
}
{% include tag name="addName" %} {
	@extend %inline;
	@extend %name;
	@extend %offset;
}
{% include tag name="address" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %zhoop;
	@extend %mono;
}
{% include tag name="addrLine" %} { @extend %block }
{% include tag name="am" %} { @extend %inline }
{% include tag name="anchor" %} {
	@extend %iblock;
	@extend %nowidth;
}
{% include tag name="argument" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %zhoop;
	@extend %offset;
	@extend %small;
}
{% include tag name="att" %} {
	@extend %inline;
	@extend %mono;
}
{% include tag name="author" %} { @extend %inline }
{% include tag name="back" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %smallish;
}
{% include tag name="bibl" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %padl;
	@extend %undent;

	& > * { @extend %noindent }
}
{% include tag name="bloc" %} {
	@extend %inline;
	@extend %attn;
	@extend %mono;
	@extend %name;
}
{% include tag name="body" %} {
	@extend %block;
	@extend %container;
	@extend %div;
}
{% include tag name="byline" %} {
	@extend %block;
	@extend %div;
	@extend %zhoop;
	@extend %ctext;
}
{% include tag name="c" %}{
	@extend %inline;
	@extend %mono;
}
{% include tag name="caesura" %} { @extend %inline }
{% include tag name="camera" %} {
	@extend %block;
	@extend %div;
	@extend %attn;
	@extend %name;
	@extend %rtext;
}
{% include tag name="caption" %} {
	@extend %block;
	@extend %div;
	@extend %ctext;
	@extend %offset;
	@extend %larger;
}
{% include tag name="castGroup" %} {
	@extend %block;
	@extend %div;
}
{% include tag name="castItem" %} {
	@extend %block;
	@extend %padl;
	@extend %undent;
	@extend %offset;

	& > * { @extend %noindent }
}
{% include tag name="castList" %} {
	@extend %block;
	@extend %div;
	@extend %columns;
	@extend %zhoop;
	@extend %smallish;
}
{% include tag name="cell" %} { @extend %cell }
{% include tag name="choice" %} { @extend %inline }
{% include tag name="cit" %} {
	@extend %block;
	@extend %div;
	@extend %zhoop;
	@extend %larger;
	@extend %offset;

	& > {% include tag name="cit" %} { @extend %smaller }
	& > {% include tag name="listBibl" %}:Last-Child { @extend %nooffset;

		{% include tag name="bibl" %} {
			@extend %noindent;
			@extend %smaller;

			&::BEFORE {
				@extend %block;
				@extend %preContent;

				Content: "―";
			}
		}
	}
	& > {% include tag name="quote" %} { @extend %nopes }
}
{% include tag name="citedRange" %} {
	@extend %inline;
	@extend %offset;
}
{% include tag name="closer" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %small;
}
{% include tag name="code" %} {
	@extend %inline;
	@extend %mono;
}
{% include tag name="corr" %} {
	@extend %inline;
	@extend %brackets;
}
{% include tag name="country" %} {
	@extend %inline;
	@extend %mono;
	@extend %name;
}
{% include tag name="date" %} { @extend %inline }
{% include tag name="dateline" %} {
	@extend %block;
	@extend %div;
	@extend %offset;
}
{% include tag name="del" %} {
	@extend %inline;
	@extend %del;
}
{% include tag name="desc" %} {
	@extend %block;
	@extend %div;
	@extend %offset;
	@extend %smaller;
}
{% include tag name="distinct" %} {
	@extend %inline;
	@extend %offset;
}
{% include tag name="district" %} {
	@extend %inline;
	@extend %offset;
}
{% include tag name="div" %} {
	@extend %block;
	@extend %div;
}
{% include tag name="div1" %} {
	@extend %block;
	@extend %div;

	& > {% include tag name="head" %} { @extend %largest }
}
{% include tag name="div2" %} {
	@extend %block;
	@extend %div;

	& > {% include tag name="head" %} { @extend %large }
}
{% include tag name="div3" %} {
	@extend %block;
	@extend %div;

	& > {% include tag name="head" %} { @extend %largeish }
}
{% include tag name="div4" %} {
	@extend %block;
	@extend %div;

	& > {% include tag name="head" %} { @extend %medium }
}
{% include tag name="div5" %} {
	@extend %block;
	@extend %div;

	& > {% include tag name="head" %} { @extend %smallish }
}
{% include tag name="div6" %} {
	@extend %block;
	@extend %div;

	& > {% include tag name="head" %} { @extend %small }
}
{% include tag name="div7" %} {
	@extend %block;
	@extend %div;

	& > {% include tag name="head" %} { @extend %smallest }
}
{% include tag name="docAuthor" %} {
	@extend %inline;
	@extend %attn;
}
{% include tag name="docDate" %} { @extend %inline }
{% include tag name="docImprint" %} { @extend %block }
{% include tag name="docTitle" %} {
	@extend %block;
	@extend %div;
	@extend %ctext;
	@extend %largest;
}
{% include tag name="editor" %} { @extend %inline }
{% include tag name="eg" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %mono;
}
{% include tag name="egXML" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %mono;
}
{% include tag name="email" %} {
	@extend %inline;
	@extend %mono;
}
{% include tag name="emph" %} {
	@extend %inline;
	@extend %offset;

	&[{% include att tag="emph" name="rend" %}="strong"] {
		@extend %attn;
		@extend %nooffset;
	}
}
{% include tag name="epigraph" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %zhoop;
	@extend %offset;
}
{% include tag name="ex" %} {
	@extend %inline;
	@extend %ins;
}
{% include tag name="expan" %} { @extend %inline }
{% include tag name="figDesc" %} {
	@extend %block;
	@extend %div;
	@extend %ctext;
	@extend %smallish;
}
{% include tag name="figure" %} {
	@extend %fblock;
	@extend %cflex;
	@extend %container;
	@extend %figBorder;
	@extend %unzhoop;
	@extend %ctext;
	@extend %larger;
}
{% include tag name="floatingText" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %figBorder;
	@extend %figpad;
	@extend %zhoop;
	@extend %smaller;
}
{% include tag name="foreign" %}{
	@extend %inline;
	@extend %offset;
}
{% include tag name="forename" %}{
	@extend %inline;
	@extend %name;
}
{% include tag name="formula" %}{
	@extend %inline;
	@extend %serif;
}
{% include tag name="front" %}{
	@extend %block;
	@extend %container;
	@extend %div;
}
{% include tag name="g" %}{ @extend %iblock }
{% include tag name="genName" %}{
	@extend %inline;
	@extend %name;
}
{% include tag name="geo" %}{ @extend %inline }
{% include tag name="geoFeat" %}{
	@extend %inline;
	@extend %noname;
}
{% include tag name="geogName" %}{
	@extend %inline;
	@extend %name;
}
{% include tag name="gi" %}{
	@extend %inline;
	@extend %mono;
}
{% include tag name="gloss" %}{
	@extend %inline;
	@extend %offset;
}
{% include tag name="graphic" %}{ @extend %iblock }
{% include tag name="group" %}{
	@extend %block;
	@extend %container;
	@extend %div;
}
{% include tag name="head" %}{
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %attn;
}
{% include tag name="headItem" %}{
	@extend %litem;
	@extend %attn;
	@extend %nolist;
}
{% include tag name="headLabel" %}{
	@extend %litem;
	@extend %attn;
	@extend %nolist;
	@extend %upper;
}
{% include tag name="hi" %}{ @extend %inline;

	&[{% include att tag="hi" name="rend" %}="highlight"] {
		@extend %borders;
		@extend %bpad;
	}
}
{% include tag name="ident" %}{
	@extend %inline;
	@extend %mono;
}
{% include tag name="imprimatur" %}{
	@extend %block;
	@extend %div;
	@extend %offset;
	@extend %small;
}
{% include tag name="item" %}{ @extend %litem;

	{% include tag name="label" %} + & {
		@extend %block;
		@extend %padl;
	}
}
{% include tag name="l" %}{ @extend %block }
{% include tag name="label" %}{
	@extend %inline;
	@extend %attn;

	{% include tag name="list" %} > & { @extend %block }
}
{% include tag name="lang" %}{
	@extend %inline;
	@extend %name;
	@extend %upper;

	{% include tag name="abbr" %}{ @extend %nottr }
}
{% include tag name="lb" %} { @extend %inline }
{% include tag name="lg" %} {
	@extend %block;
	@extend %div;
}
{% include tag name="list" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %padl;
	@extend %list1;

	& {% include tag name="list" %} { @extend %smaller }
}
{% include tag name="listBibl" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %smaller;
}
{% include tag name="media" %} { @extend %iblock }
{% include tag name="meeting" %} {
	@extend %inline;
	@extend %attn;
	@extend %mono;
}
{% include tag name="mentioned" %} {
	@extend %inline;
	@extend %offset;
}
{% include tag name="move" %} {
	@extend %block;
	@extend %div;
	@extend %offset;
}
{% include tag name="name" %} {
	@extend %inline;
	@extend %sans;
}
{% include tag name="note" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %offset;
	@extend %smaller;
}
{% include tag name="num" %} {
	@extend %inline;
	@extend %numeric;

	&[{% include att name="type" tag="num" %}="ordinal"] { @extend %ordinal }
}
{% include tag name="opener" %} {
	@extend %block;
	@extend %container;
	@extend %div;
}
{% include tag name="orig" %} { @extend %inline }
{% include tag name="p" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %indent;

	&::BEFORE {
		@extend %block;
		@extend %preContent;
		@extend %noindent;

		Content: "¶";
	}
	{% include tag name="label" %} + {% include tag name="item" %} > &:First-Of-Type { @extend %divf }
	& > * { @extend %noindent }
}
{% include tag name="performance" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %smallish;
}
{% include tag name="persName" %} {
	@extend %inline;
	@extend %name;
}
{% include tag name="placeName" %} {
	@extend %inline;
	@extend %mono;
	@extend %name;
}
{% include tag name="performance" %} {
	@extend %block;
	@extend %container;
	@extend %div;
}
{% include tag name="postBox" %} {
	@extend %inline;
	@extend %numeric;
}
{% include tag name="postCode" %} {
	@extend %inline;
	@extend %numeric;
}
{% include tag name="postscript" %} {
	@extend %block;
	@extend %container;
	@extend %div;
}
{% include tag name="prologue" %} {
	@extend %block;
	@extend %container;
	@extend %div;
}
{% include tag name="ptr" %} {
	@extend %block;
	@extend %container;
}
{% include tag name="publisher" %} { @extend %inline }
{% include tag name="pubPlace" %} { @extend %inline }
{% include tag name="q" %} {
	@extend %inline;
	@extend %offset;
}
{% include tag name="quote" %} {
	@extend %inline;
	@extend %quoted;
}
{% include tag name="ref" %} {
	@extend %inline;
	@extend %link;
}
{% include tag name="reg" %} { @extend %inline }
{% include tag name="role" %} {
	@extend %inline;
	@extend %attn;
}
{% include tag name="roleDesc" %} {
	@extend %inline;
	@extend %offset;
}
{% include tag name="roleName" %} {
	@extend %inline;
	@extend %name;
}
{% include tag name="row" %} { @extend %row }
{% include tag name="rs" %} { @extend %inline;

	&[{% include att name="type" tag="rs" %}="event"] { @extend %name }
}
{% include tag name="said" %} {
	@extend %inline;
	@extend %quoted;

	&[{% include att name="aloud" tag="q" %}="false"] {
		@extend %nopes;
		@extend %offset;
	}
	&[{% include att name="direct" tag="q" %}="false"] { @extend %nopes }
}
{% include tag name="salute" %} {
	@extend %block;
	@extend %div;
}
{% include tag name="seg" %} { @extend %inline ;

	&[{% include att name="rend" tag="seg" %}="flip"] {
		@extend %iblock;
		@extend %flip;
	}
}
{% include tag name="set" %} {
	@extend %block;
	@extend %div;
}
{% include tag name="settlement" %}{
	@extend %inline;
	@extend %name;
}
{% include tag name="sic" %} { @extend %inline }
{% include tag name="signed" %} {
	@extend %block;
	@extend %div;
	@extend %offset;
	@extend %rtext;
}
{% include tag name="soCalled" %} {
	@extend %inline;
	@extend %quoted;
}
{% include tag name="sound" %} {
	@extend %block;
	@extend %div;
}
{% include tag name="sp" %} {
	@extend %block;
	@extend %div;
	@extend %zhoop;
}
{% include tag name="spGrp" %} {
	@extend %block;
	@extend %div;
}
{% include tag name="speaker" %} {
	@extend %block;
	@extend %div;
	@extend %ctext;
	@extend %upper;
}
{% include tag name="stage" %} {
	@extend %block;
	@extend %div;
}
{% include tag name="street" %} {
	@extend %inline;
	@extend %name;
}
{% include tag name="surname" %} {
	@extend %inline;
	@extend %name;
	@extend %upper;
}
{% include tag name="table" %} { @extend %table }
{% include tag name="tag" %} {
	@extend %inline;
	@extend %mono;
}
{% include tag name="tech" %} {
	@extend %block;
	@extend %div;
	@extend %offset;
	@extend %rtext;
}
{% include tag name="term" %} {
	@extend %inline;
	@extend %attn;
	@extend %offset;
}
{% include tag name="text" %} {
	@extend %block;
	@extend %amargin;
	@extend %capwidth;
	@extend %figpad;
}
{% include tag name="time" %} {
	@extend %inline;
	@extend %numeric;
}
{% include tag name="title" %} {
	@extend %inline;

	&[{% include att name="level" tag="title" %}="a"] { @extend %quoted }
	&[{% include att name="level" tag="title" %}="m"] { @extend %offset }
	&[{% include att name="level" tag="title" %}="j"] {
		@extend %name;
		@extend %offset;
	}
	&[{% include att name="level" tag="title" %}="s"] { @extend %name }
	&[{% include att name="level" tag="title" %}="u"] { @extend %quoted }
}
{% include tag name="titlePage" %} {
	@extend %block;
	@extend %container;
	@extend %div;
	@extend %zhoop;
	@extend %ctext;
	@extend %larger;
}
{% include tag name="titlePart" %} { @extend %inline }
{% include tag name="trailer" %} {
	@extend %block;
	@extend %div;
	@extend %offset;
	@extend %smaller;
}
{% include tag name="val" %} {
	@extend %inline;
	@extend %mono;
}
{% include tag name="view" %} {
	@extend %block;
	@extend %div;
	@extend %offset;
}
