---
vol_no: 1
issue_no: 1
title: Cybre Love
layout: layout_A
date: 2018-02-12
caption: Special <time datetime="2018-02-14" title="2018-02-14">Valentine's Day</time> Issue!!
image:
  description:
  path: /cvr/CMON0101.png
background: /bkg/CMON0101.png
slug: CMON0101
hex_colour: '#FFFFFF'
invert: true
warnings:
  - erasure of queer relationships/identity
  - <u class=country>Facebook</u>
  - homophobia
  - discrimination
  - unhealthy relationship structures
  - abuse
excerpt:
credits:
  -
    id: kibi
    name: <u class=persName><u class=forename>Gô</u> <u class=surname>Shoemake</u></u>
    description: writing, editing, layout, design
    social:
      title: G L I T C H
      handle: '@kibi@glitch.social'
      url: https://glitch.social/@kibi
      federated: true
    website:
      title: Gô ~
      url: http://marrus.xyz/
  -
    id: shel
    name: <u class=persName><u class=forename>Shel</u> <u class=surname>Raphen</u></u>
    description: author, <cite class=analytic>Hooking up to the Cybre</cite>
    social:
      title: Cybrespace
      handle: '@shel@cybre.space'
      url: https://cybre.space/@shel
      federated: true
    website:
      title: DataPup
      url: https://datapup.info/
  -
    id: bea
    name: <u class=persName><u class=forename>beatrix</u> <u class=surname>bitrot</u></u>
    social:
      title: G L I T C H
      handle: '@bea@glitch.social'
      url: https://glitch.social/@bea
      federated: true
    description: hosting, technical support
---

<section id=introduction>
	{% include layout_A/sectionlink.html id="introduction" title="Cybre<br>is<br>Love" %}
	<p>
		As a queer trans girl in a semi&#x2010;rural city in the middle of nowhere, I understand as much as anyone <strong>the intimate ways</strong> in which <strong>queerness and digital life can be interrelated</strong>.
		Here, <strong>we don't have bars or public spaces</strong> where queer folks can meet up—our support and resources amount basically to <strong>a small <u class=orgName>PFLAG</u> chapter</strong> whose only real contact information is <strong>an email address</strong> and a <strong>mostly&#x2010;inactive <u class=country>Facebook</u> page</strong>.
		When it comes to networking with other queer people—for those of us out of school anyway—<u class=bloc>the Internet</u> is about our <strong>only available avenue</strong> to do so.
	<p>
		<strong>I see queerness as fundamentally relational</strong>; it finds its definition in <b>the ways</b> we orient ourselves <strong>towards certain bodies</strong> or <strong>away from others</strong>, <b>the way</b> we <strong>hold certain identities</strong> and <strong>refuse others</strong>, <b>the way</b> our <strong>bodies are understood</strong> by <strong>ourselves</strong> and by <strong>society</strong>, <b>the way</b> our <strong>networks of love, care, and support</strong> succeed or fail to <strong>line up with the expected norms</strong>.
		<u class=bloc>The Internet</u>, too, is <strong>fundamentally relational</strong>—whether it manifests itself <b>as</b> a <strong>collection of networks between devices</strong>, <b>or</b> <strong>hyperlinks between pages</strong>, <b>or</b> <strong>actions between entities</strong>—and so to me, <strong>cybre and queerness go so readily hand&#x2010;in&#x2010;hand</strong>.
		Looking at <strong>the ways in which queer relationality</strong> can (or can not) be <strong>expressed through the networked relations of technology</strong> is a big part of <strong>what <dfn>cybre</dfn> is all about</strong>.
	<p>
		There are, of course, <strong>many possible motives</strong> underlying any relationship between two people, but in this issue we're going to focus on just one: <strong>love</strong>.
		The <strong>norms and structures surrounding love</strong>—and their enforcement—are a big part of <b>what</b> <strong>marginalizes queer people in the first place</strong>, <b>what</b> <strong>drives them online</strong>, and <b>what</b> <strong>makes a cybre politic necessary</strong> once they get there.
	<p>
		When attempting to <strong>trace a history</strong> of <strong>love on <u class=bloc>the Internet</u></strong>, the narrative one finds can usually be reduced to a <strong>short two&#x2010;sentence quip</strong> like the following:
		<i class=q><b>Once upon a time,</b> people <strong>looked for love</strong> through <strong>{% include layout_A/link.html href="https://en.wikipedia.org/wiki/Personal_advertisement" title="Personal advertisement | Wikipedia" content="newspaper personals" %}</strong>.
		<b>Then</b> <strong><u class=country>Match.com</u> was founded</strong>, and people <strong>looked for it online</strong>.</i>
	<p>
		<strong>This narrative is troubling</strong>—and not just for its simplicity—because it makes <strong>two dangerous assumptions</strong>: <b>first,</b> that <strong>all love manifests itself through <i class=soCalled>dating</i></strong>, and <b>second,</b> that <strong>the only forms of dating</strong> which deserve recognition are <strong>those which occur in public spaces</strong>—especially when talking about dating online.
		<b>We do not hear</b> about the <strong>queer users meeting up through webrings</strong> on <i class=country>GeoCities</i> and <strong>maintaining epistolary relationships</strong> through email.
		<b>We do not hear</b> about the <strong>love and communities</strong> formed through <strong>noncommercial, less-centralized mediums</strong> like <strong>forum software</strong>, <strong><abbr title="Internet Relay Chat">IRC</abbr> chats</strong>, or <strong>bulletin boards</strong>.
		<b>We don't even hear</b> about love which forms on <strong>larger, commercial websites</strong> which <strong>aren't seen as primarily dating&#x2010;focused</strong>, like <u class=country>Tumblr</u> or <u class=country>Instagram</u>.
		And <b>nor do we hear</b> about the many different forms of love which <strong>aren't readily categorized as <i class=soCalled>romance</i></strong>; the <strong>queer bonds of kinship and support</strong> which <strong>run as an undercurrent</strong> through our communities, holding them together.
	<p>
		While many of these ommissions are not <em>necessarily</em> queer&#x2010;specific, they are <strong>especially relevant to queer communities</strong>, whose networks of love tend to be at once <strong>less conventional</strong> and <strong>more private</strong>.
		Intentionally or not, they function to to <strong>erase those forms of queer love and desire</strong> which <strong>do not take place</strong> in <strong>normatively&#x2010;sanctioned public</strong>—yet, importantly, <strong>privately&#x2010;owned</strong>—<strong>spaces</strong>, where they can be better <strong>monitored and regulated</strong> by corporations and/or the state.
		In one <strong>particularly glaring example</strong>, <u class=country>Facebook</u> <strong>doesn't let you name a romantic partner</strong> if they <strong>aren't also using the site</strong>—restricting the scope of those relationships which are permitted recognition to <strong>only those whose members are already known</strong> and under surveillance.
	<figure>
		<iframe class=webview src="{{ "/CMBD0006/" | relative_url }}">Faʞebook About Customization: {{ "/CMBD0006/" | relative_url }}.</iframe>
	</figure>
	<p>
		But omissions are made <strong>on less overt levels</strong> as well.
		For example, <strong>not only</strong> does <u class=country>Facebook</u> <strong>restrict the <em>participants</em></strong> of a known relationship to <strong>only those people which make up its userbase</strong>, but it <strong>also restricts the <em>form</em></strong> that relationships can take to <strong>only those things which are representable within its system</strong>.
		<b><strong>It is not possible</strong></b> to represent <strong>a polyamorous relationship</strong> on <u class=country>Facebook</u>.
		<b><strong>It is not possible</strong></b> to state in your <cite class=analytic>Basic Info</cite> that you are <strong><q class=soCalled>Interested In</q> nonbinary people</strong>—or, for that matter, <strong>nobody at all</strong>.
		<b><strong>It is not possible</strong></b> to clearly distinguish between relationships which are <strong>sexual</strong>, <strong>domestic</strong>, <strong>romantic</strong>, or any combination of the three.
	<p>
		While the above critiques are limited to <u class=country>Facebook</u> as a platform, <strong>the larger problem is not</strong>.
		<strong>At the same time</strong> that our culture tells us that <strong>the only love which is valid online</strong> is that which fits into its <strong>narrow definitions of <i class=soCalled>online dating</i></strong>, the <strong>designers of online dating and communication platforms</strong> are able to <strong>set limits</strong> on <strong>which forms of love they support</strong> and <strong>make clear to others</strong> that they <strong>do not belong</strong>.
		These actions could be the result of <strong>active discrimination</strong> and <strong>refusal of service</strong>, but they could <strong>just as easily</strong> be a consequence of a <strong>homogenous development staff</strong> which considers less&#x2010;mainstream relationship structures to be <strong>not important or relevant enough</strong> to their work to merit accommodation.
		<strong><em>It doesn't matter—the result is the same.</em></strong>
	<figure id=fig.seeking>
		<p>
			<label>I am a(n) <input type=text size=23 list=fig.seeking.genders autocomplete=off></label><br><span class=pre>	</span><label>seeking a(n) <input type=text size=23 list=fig.seeking.genders autocomplete=off></label><br><span class=pre>		</span><label>between ages <input type=number min=18 value=35 autocomplete=off style=width:4em;text-align:center></label> <label>and <input type=number min=18 value=50 autocomplete=off style=width:4em;text-align:center></label><br><label>Zip/Postal code <input type=text size=5 minlength=5 maxlength=5 pattern=[0-9]{5} list=fig.seeking.zips autocomplete=off style=text-align:center></label>
			<datalist id=fig.seeking.genders>
				<option value=1>
				<option value=2>
				<option value=6>
				<option value=???>
				<option value=ace>
				<option value=admin>
				<option value=agender><!--  https://wandering.shop/@Satsuma/99509933490989403  -->
				<option value=angle>
				<option value=aro>
				<option value=asdhgks;hf>
				<option value=awoo>
				<option value=awoooooooooooo>
				<option value=🅱️>
				<option value="bad boy">
				<option value="bad enby">
				<option value="bad girl">
				<option value="baking witch"><!--  https://wandering.shop/@Satsuma/99509933490989403  -->
				<option value="Benjamin Button Baseball Boy"><!--  https://mastodon.social/@mcelboy/14569384  -->
				<option value="big girl">
				<option value="big ol' boy"><!--  https://mastodon.social/@mcelboy/14568007  -->
				<option value="big toy frog">
				<option value=bi>
				<option value=blob>
				<option value=:blobpats:>
				<option value=bot>
				<option value="bot and i don't know how to fill out forms">
				<option value=boi>
				<option value="bow lesbian">
				<option value=boy>
				<option value="boy boy">
				<option value="boy boy boy">
				<option value="boy boy boy boy">
				<option value="boy boy boy boy boy">
				<option value="boy problems">
				<option value="boy trouble">
				<option value=bug>
				<option value=bun>
				<option value=bundog>
				<option value="burger boy"><!--  https://mastodon.social/@mcelboy/14586483  -->
				<option value=butch>
				<option value="blankets lesbian">
				<option value=Cancel>
				<option value=cat>
				<option value=catgirl>
				<option value=catboy>
				<option value=catenby>
				<option value="chaotic butch"><!--  https://sprite.land/@amphetamine/99509892858800577  -->
				<option value="chitinous hellbeast from the rift between dimensions"><!--  https://sins.center/@Fidgetcetera/99509726812772552  -->
				<option value="Class I Noun (countable)"><!--  https://mastodon.social/@Lioness/99509696364564586  -->
				<option value="coder girl">
				<option value=computer>
				<option value="convergent girl"><!--  https://dev.glitch.social/@ad/99509671394692677  -->
				<option value="crossbow boy"><!--  https://mastodon.social/@mcelboy/14570922  -->
				<option value="crossbow lesbian">
				<option value="cup of coffee">
				<option value="cup of english breakfast">
				<option value=cutenby>
				<option value="cute boy">
				<option value="cute girl">
				<option value=cutie>
				<option value=cybregoth>
				<option value="Cybre WebZine">
				<option value=cyborg>
				<option value="dæmonic trans girl">
				<option value=data>
				<option value="DEFINITELY NOT an egg">
				<option value="DEFINITELY NOT a furry">
				<option value=demon>
				<option value=devil>
				<option value=dog>
				<option value=dongle>
				<option value=dragon>
				<option value=drrgrn>
				<option value=DS>
				<option value="DS Lite">
				<option value=DSi>
				<option value=eh?>
				<option value=egg>
				<option value=emoji>
				<option value=emojo>
				<option value=enby>
				<option value="[error: gender not found]"><!--  https://wandering.shop/@Satsuma/99509935568255716  -->
				<option value=ex>
				<option value=fairy>
				<option value=femme>
				<option value=file>
				<option value=fire>
				<option value="firmware upgrade"><!--  https://glitch.social/@kibi/99510144390612766  -->
				<option value="five thick slabs of blue cheese">
				<option value=flame>
				<option value="flower lesbian">
				<option value=fox>
				<option value=foxboy>
				<option value=foxgirl>
				<option value=fremd>
				<option value=frick>
				<option value=friend>
				<option value=friendship>
				<option value=fuck>
				<option value="fuck computers">
				<option value="fuck forms">
				<option value="fuck fuck">
				<option value="fuck gender">
				<option value="fuck space">
				<option value=furry>
				<option value=furry-adjacent>
				<option value=galpal>
				<option value="game boy">
				<option value="game boy advance">
				<option value="game boy advance SP">
				<option value="game boy color">
				<option value="game boy micro">
				<option value="game boy pocket">
				<option value="garbage boy"><!--  https://mastodon.social/@mcelboy/14509287  -->
				<option value=gay>
				<option value="gay dog">
				<option value="gay relationship">
				<option value="gay trans">
				<option value=gender>
				<option value=gendre>
				<option value=ghast>
				<option value=girl>
				<option value="girl'); DROP TABLE gender;--">
				<option value="GIRLS!!!">
				<option value="good boy">
				<option value="good dog">
				<option value="good girl">
				<option value="good pup">
				<option value=grrrrrrrrrrrrr>
				<option value=grrrrrrrrrrrrrl>
				<option value="hacker girl">
				<option value="have sex with gender">
				<option value=hhhhhhhhhhh>
				<option value=hhhhhnnnnnnggggg>
				<option value=human><!--  https://[redacted]  -->
				<option value=hookup>
				<option value="how do i find out if i am trans">
				<option value="how do i find out what gender i am">
				<option value="i don't know">
				<option value="ICANN-era generic top-level domain">
				<option value=ime>
				<option value=imposter>
				<option value="incredibly bi">
				<option value="internet dog">
				<option value="internet friend">
				<option value=janitor>
				<option value="javascript:void function () { alert('Hello world!') }()">
				<option value=kit>
				<option value=kobold>
				<option value=lain>
				<option value="les bian">
				<option value=lesbiab>
				<option value=lesbian>
				<option value="lesbian lesbian">
				<option value=lesbiorb>
				<option value=localhost:8080>
				<option value=mech>
				<option value=mom>
				<option value=monster>
				<option value=moo>
				<option value=moon>
				<option value=msx>
				<option value=mx>
				<option value="my mech">
				<option value=NB>
				<option value=nonbinary>
				<option value=non-binary>
				<option value="non binary">
				<option value=null>
				<option value=nyaa>
				<option value=o>
				<option value=oh>
				<option value="OMG so bi">
				<option value=orc>
				<option value="original pizza boy"><!--  https://mastodon.social/@mcelboy/14576458  -->
				<option value=opossum>
				<option value=Other>
				<option value=pan>
				<option value=partner>
				<option value="pillow lesbian">
				<option value=plant>
				<option value="plant boy">
				<option value="plant friend">
				<option value=poly>
				<option value=prrgrrmmrr>
				<option value="punk girl">
				<option value=pup>
				<option value=queer>
				<option value="real boy"><!--  https://mastodon.social/@mcelboy/14513214  -->
				<option value=rebel>
				<option value=relationship>
				<option value=romantic>
				<option value=shape>
				<option value="six spoons of fresh snow peas">
				<option value="sleepy gay">
				<option value="sleepy lesbian">
				<option value="sleepy succubus"><!--  https://sins.center/@Fidgetcetera/99509726812772552  -->
				<option value="sleepy trans">
				<option value=slime>
				<option value="small plastic snake">
				<option value="snack for her brother Bob">
				<option value=snail>
				<option value=snake>
				<option value="so bi">
				<option value="so gay">
				<option value="soft boy">
				<option value="softboy"><!--  https://mastodon.social/@mcelboy/14545457  -->
				<option value="space&#x2010;faring kissboy"><!--  https://mastodon.social/@mcelboy/14573681  -->
				<option value="space lesbian">
				<option value="spare USB port">
				<option value=Stella>
				<option value=succubus>
				<option value=sun>
				<option value="sword lesbian">
				<option value="tall lesbian">
				<option value="thick boy"><!--  https://mastodon.social/@mcelboy/14582004  -->
				<option value="three red bags">
				<option value="trash girl">
				<option value=top>
				<option value="toss boy"><!--  https://mastodon.social/@mcelboy/14591175  -->
				<option value=trans>
				<option value=undefined>
				<option value="universal serial bus">
				<option value="virtual boy">
				<option value=void>
				<option value="water lesbian">
				<option value="Wednesday at the train station">
				<option value="what does this mean">
				<option value="who the fuck knows">
				<option value=witch>
				<option value="witch but a boy">
				<option value=x>
				<option value=ybody>
				<option value=zine>
			</datalist>
			<datalist id=fig.seeking.zips>
				<option value=00000>
				<option value=01024>
				<option value=42069>
				<option value=66666>
				<option value=69420>
			</datalist>
	</figure>
	<p>
		Consequently, <strong>it is up to us</strong> to <strong>resist such simple narratives</strong> of cybre relationships and to <strong>celebrate love and queer bonding</strong> in all of the places that it occurs.
		We must <strong>decentre technological institutions</strong> as the determiners of <strong>what sorts of relationships are valid</strong> and deserve recognition, while at the same time <strong>creating technologies of our own</strong> for facilitating and accommodating love <strong>in all of its forms</strong>.
		<strong>Unlike traditional straight relationships</strong>—which, ironically, are catered to online—queer folks oftentimes <strong>don't have a choice</strong> about using <span class=bloc>the Internet</span> to find love.
		Therefore, we must <strong>make these relationships our priority</strong> when <strong>designing</strong>, <strong>testing</strong>, and <strong>talking about</strong> love online.
	<p>
		<cite class=journal><b class=cybremonday>CYBREMONDAY</b></cite> is a casual webzine aimed at elucidating conversations and ideas, questioning existing narratives, and promoting discussion regarding life and culture in (cyber/cybre)space.
		This is its first issue.

	<nav id=toc>
		<h4>In this issue…</h4>
		<ol start=0>
			<li> <a class=block href=#introduction>Introduction: <strong><cite class=analytic>Cybre is Love?</cite></strong></a>
			<li> <a class=block href=#models><strong><cite class=analytic>Role Modelling Queer</cite></strong></a>
			<li>
				<a class=block href=#hookups><strong><cite class=analytic>Hooking up to the Cybre</cite></strong></a>
				{% assign author = page.credits | where: "id", "shel" | first %}{% include layout_A/credit.html credit=author %}
			<li> <a class=block href=#drama><strong><cite class=analytic>Cybre Drama</cite></strong></a>
		</ol>
	</nav>
</section>

<section id=models>
	{% include layout_A/sectionlink.html id="models" title="Role Modelling Queer" %}
	<p>
		I <strong>entered into my first</strong> (mutually&#x2010;acknowledged; romantic) relationship on <strong><time datetime=2013-02-14 title=2013-02-14>Valentine's Day, 2013</time></strong>.
		At the time, I was a <strong>freshman in college</strong>, <strong>identified as agender and asexual</strong>, thought gender&#x2010;studies was a <strong>mostly misguided endeavour</strong>, and spent most of my time <strong>playing <cite class=monogr>Borderlands</cite> in my room</strong> or <strong>debating the meaning of words with friends</strong>.
		So, needless to say, <strong>a lot has changed</strong>.
	<p>
		<strong>My lover was wonderful</strong>, but we were both <strong>inexperienced and largely ill&#x2010;equipped</strong> to deal with <b>the</b> <strong>onslaught of depression</strong> and <strong>dysphoria</strong> which I found myself facing <strong>on an increasing basis</strong>; <b>the</b> <strong>lived experience</strong> of <strong>being grey&#x2010;ace</strong> in a college environment where—even in queer circles—<strong>sexuality was taken for granted</strong>; <b>the</b> <strong>delicate situation</strong> of being <strong>in a queer relationship</strong> which <strong>read as straight</strong> because one partner was trans&#x2010;but&#x2010;not&#x2010;out and the other was kinda&#x2010;nonbinary&#x2010;but&#x2010;presenting&#x2010;as&#x2010;a&#x2010;cis&#x2010;girl.
		Our relationship devolved into <strong><i class=term>unhealthy dependency</i> on one side</strong> and <strong><i class=term>lack of boundaries</i> on the other</strong>, a toxic mess inflicting harm on both our lives and leaving scars from which I am <strong>still learning to recover</strong>.
		We broke up <strong>after only a year&#x2010;and&#x2010;a&#x2010;half</strong> of dating, but it <strong>wasn't until I was out of college</strong> and had the <strong>time, space, and distance</strong> to reflect on what had happened that I was able to <strong>heal to a point</strong> where I could <strong>get romantically involved again</strong>.
		(Then, naturally, I <strong>fucked that relationship up too</strong>.)
	<p>
		For many people in queer communities, <strong>this is a familiar narrative</strong>.
		The <strong>realities and stresses</strong> of being any of (queer, trans, nonwhite, disabled, ill, poor, homeless, without family, facing academia, facing capitalism, facing abuse, scarred from past trauma, and more), and at the same time <strong>trying to be a loving partner</strong> in a mature committed relationship, leave <strong>a lot open to go wrong</strong>.
		And when things go wrong, they often do so <strong>visibly</strong>, and <strong>publicly</strong>.
	<p>
		In my senior year of college, a close friend of mine—after a long year of relationship drama of their own—finally entered into a relationship which was <strong>measured, caring, mutually&#x2010;supportive, and beneficial</strong>.
		For me, still dealing with the aftermath of my traumas, <strong>this was earthshattering</strong>.
		Seeing two people dealing with life, conflict, and hardship in a mature and responsible manner <strong>reminded me what relationships were <em>supposed</em> to look like</strong>, and <strong>helped me recognize the unhealthy behaviours that I had developed</strong> over the years.
	<p>
		When people talk about <i class=soCalled>pride</i> or <i class=soCalled>being out</i>, they often do so as a <strong>part of a conversation about visibility</strong> in <strong>cis, straight, and normative spaces</strong>, but—when it comes to relationships—I think visibility <strong>can be important in our own communities too</strong>.
		Having <strong>visible, healthy, lasting relationships</strong>—and <strong>speaking about how we got there</strong>—can, in my experience, help <strong>educate those coming up under us</strong>, <strong>prevent them from making our same mistakes</strong>, and <strong>denormalize toxic or abusive relationship structures</strong> by providing a <strong>meaningful counternarrative of compassion and support</strong>.
		If we stay silent about the good times, then the bad times are all that people will ever see.
	<p>
		However, <strong>this is not merely a personal issue</strong>.
		One of the reasons why queer relationships so often go unspoken is because <strong>we lack the spaces and technologies to meaningfully (and safely) do so</strong>.
		Queer bonds of romance or kinship <b>are</b> <strong>rarely expressible</strong> within <strong>most technological systems</strong>—at least not without reducing them to their most normative form.
		<b>They are</b> also constrained by the (less-technological) <strong>realities of social networking and interaction</strong>.
		(Who wants to read sappy relationship crap from <strong>someone they've never met before?</strong>
		<abbr title="Content Warning">CW</abbr> your shit, please.)
		<b>And finally,</b> <strong>without good and effective moderation</strong>, acknowledging our loved ones can <strong>expose them to harrassment or attack</strong>.
	<p>
		Nevertheless, the need for <strong>positive examples of queer loving relationships</strong> stands.
		<strong>Many people in queer communities have faced</strong> toxic, unhealthy, discriminatory, or abusive relationships at home or growing up—and many of us <strong>also face these things every day in the workplace</strong> as well.
		Speaking personally, seeing <strong>mutually&#x2010;beneficial relationships of love and support</strong> in my feeds can help keep me grounded in what is <strong>good and important about being in love</strong>.
	<p>
		And, I mean, if straight people get to <strong>walk down the cybre streets</strong> holding hands… <strong>why not us also</strong>, <abbr title="in my opinion">imo</abbr>.
</section>

<section id=hookups>
	{% include layout_A/sectionlink.html id="hookups" title="Hooking up to the Cybre" %}
	<aside>
		{% assign author = page.credits | where: "id", "shel" | first %}{% include layout_A/credit.html credit=author %}
	</aside>
	<p>
		As a teen gay boy (where <i class=mentioned>boy</i> is only a homonym) in a rural community, <strong>the only representation I could find</strong> for other gays like me were:
	<ol>
		<li> <strong><abbr title="Young Adult">YA</abbr> novels by <u class=persName><u class=forename>David</u> <u class=surname>Levithan</u></u></strong> about gay boys meeting in a class or a bookstore in the ways gays never really do, and
		<li> <strong><u class=orgName>LogoTV</u> movies about melancholy gay men</strong> who feel like the <em>only</em> gay in the world who wants an actual relationship and not just hookups.
	</ol>
	<p>
		What I learned from this was that the legitimate gay relationships were the <strong>ones that resembled straight relationships</strong>.
		When I turned 18 and became a <i class=soCalled>gay man</i> (and <i class=mentioned>man</i> was again just a homonym) and left for college I was <strong>prepared to finally date and fuck</strong> and all the things gay teens in rural towns don't get to do.
	<p>
		The reality I found was that <strong>gay life is inextricably linked with the <i class=term>cybre</i></strong>.
		<strong>You never really know</strong> if who you're talking to is also gay, if they're flirting, and you're such a minority that ultimately gay life exists in <strong>a blend of flesh and cybre</strong>.
	<p>
		You <strong>go on <u class=country>Grindr</u> and <u class=country>OKCupid</u></strong>, <strong>talk to a guy</strong> (or <i class=soCalled>guy</i>), <strong>meet up</strong>, <strong>hook up</strong>, and <strong>say your goodbyes</strong>.
		I thought I'd be in a <u class=persName><u class=forename>David</u> <u class=surname>Levithan</u></u> novel but <strong>instead I was in a <u class=orgName>LogoTV</u> made&#x2010;for&#x2010;tv movie</strong>.
		<strong>There is a stereotype of gay <i class=soCalled>men</i></strong> where all they do is fuck while feeling empty and soulless, for all the dick in the world could never fill the hole in their heart that only a heteronormative relationship could ever fill.
	<p>
		<u class=country>Grindr</u> hook-ups <strong>aren't so soulless</strong> though.
		At least, mine weren't.
		We often would <strong>go on dates</strong>, <strong>cuddle</strong>, <strong>watch movies</strong>, and other <i class=soCalled>romantic</i> activities <strong>in addition to the sex</strong>.
		We <strong>gave and got from each other what we wanted</strong> without tying it to a status or commitment.
		For where I was at the time it was pretty satisfying.
	<p>
		By the time I was 21 I had sucked <em>many</em> dicks but <strong>had never been in any relationship</strong>.
		By then my transition had (temporarily) taken me down the path of womanhood and I was surrounded by a gay community of mostly lesbians.
		The lesbian stereotype is they <u class=name>U-Haul</u> and adopt a cat 2 weeks in.
		<strong>Everyone around me was dating</strong> and I wondered what was wrong with me that nobody would date me.
	<p>
		<strong>It was around then</strong> that I met my first and only self&#x2010;identified <i class=soCalled>straight boyfriend</i>.
		We were both very busy so we only hung out once a week and the relationship happened over <u class=name>Facebook Messenger</u>.
		The <i class=soCalled>blended online course</i> of relationships.
		<strong>It was wonderful though.</strong>
		We had fun, were affectionate, and one time we even fucked.
	<p>
		<strong>About 40 days into the relationship</strong> we broke up because he was moving away to live by the beach, working his dream job with deep&#x2010;sea robots (who can blame him).
		I was heartbroken (for the first time!!).
		I thought:
		<i class=thought><strong>What even was that relationship?</strong>
		It was so short!
		It looked nothing like the relationships my friends had!</i>
	<p>
		<strong>I eventually realized</strong> the relationship was <strong>exactly how long it needed to be</strong>, the <strong>way it needed to be</strong>, and was <strong>overall good for both of us</strong>.
		Two people gave and got what they needed, had a good time, and as their paths diverged they said their goodbyes.
		It was a <strong>40&#x2010;day <u class=country>Grindr</u> hookup</strong> and really, <strong>there's nothing wrong with that</strong>.
	<p>
		The summer after getting dumped <strong>I got <abbr title=TransFormed>TF</abbr>&#x2010;ed into a furry dog online</strong>.
		The communities I found were much more affectionate than any community I had been in.
		People were much <strong>quicker to flirt, cybrefuck, and <abbr title=RolePlay>RP</abbr> physical affection</strong>.
		But there was <strong>never any script</strong>; nothing was <i class=soCalled>going anywhere</i> necessarily.
		I can <strong>spend a few days or weeks</strong> getting <strong><em>really</em> close and intimate</strong> with some demonbunnydogtreeperson, whether or not we cybrefucked or just <abbr title=RolePlayed>RPed</abbr> rolling around and cuddling.
		We can <strong>tell each other our emotions and feelings</strong> and compliment each other.
		Then <strong>it can fade back</strong> into a casual platonic friendship, and <strong>it's not a big deal</strong>.
		It's not a breakup, it's not disappointing, it's two people whose paths converged, they had fun, gave and got what they wanted, and then simply diverged <strong>without it becoming an issue</strong>.
	<p>
		<strong>This is <em>fantastic</em></strong> when you're <strong>super fucking busy and messed up</strong>.
		<strong>Can you really do</strong> a full committed relationship with constant <abbr title="in real life">irl</abbr> hangouts when you <strong>work two jobs</strong> and <strong>struggle with all the shit</strong> the queerphobic world throws at you?
		Maybe you can (and that's great!).
		But it's also <strong>super good and useful</strong> to be able to casually move in&#x2010;and&#x2010;out of intimacy ad&#x2010;hoc and <strong>get the affection and attention you need </strong>without all the weight you might not be able to handle.
	<p>
		I love living in cybrespace as a dog that everyone loves to pet and praise and play with as though I were a <i class=soCalled>real dog</i>.
		When I was single <strong>I still did not feel lacking</strong> in affection or attention.
		I can get forms of attention or play that perhaps my offline girlfriend does not want to give.
	<p>
		And often <strong>just like with <u class=country>Grindr</u></strong> we may decide to <strong>meet up and go on dates</strong> or <strong>become offline friends</strong>.
	<p>
		Give and take.
		There's <strong>no shame in hooking up</strong> and <strong>I don't think it leaves any void in our hearts</strong>.
</section>

<section id=drama>
	{% include layout_A/sectionlink.html id="drama" title="Cybre Drama" %}
	<p>
		As someone who is—by some accounts—<strong><em>all about that gay shit</em></strong>, and living in a world which is generally <strong><em>not</em></strong>, I don't think it comes as any surprise that I like <strong>seeing queer relationships flourish online</strong>.
		When an especially gay relationship pops up in my feeds, I have a desire <strong>to see it <em>not</em> fail</strong>.
	<p>
		This is all well&#x2010;and&#x2010;good when the relationship in question is <strong>strong</strong>, <strong>committed</strong>, and <strong>built for longetivity</strong>.
		But it can become a problem because when, well, <strong>that <em>isn't</em> the case</strong> (and it won't always be).
		Some relationships <strong>aren't <em>intended</em></strong> to last <strong><i class=soCalled>forever</i>&#x2010;in&#x2010;the&#x2010;straight&#x2010;<i class=q>We're&#x2010;getting&#x2010;married!</i>&#x2010;sort&#x2010;of&#x2010;way</strong>.
		And sometimes—in the case of relationships which are unhealthy or toxic—<strong>having the relationship fail is in the best interests for everyone involved</strong>.
		At this point, community investment stops being <strong>a positive force of affirmation</strong>, and instead <strong>becomes a regulatory frame</strong>, exerting pressure on relationships <strong>against their best interests</strong> and—if that pressure is unsuccessful—<strong>creating <i class=soCalled>drama</i> as a regulatory force</strong>.
	<p>
		Because social media is generally <strong>designed around a model of sharing and consumption</strong>, the problem of relationship drama <strong>tends to be exacerbated</strong> online.
		Reblogs and shared posts can quickly <strong>remove statements from their original context</strong>, and shared feeds and timelines can rapidly turn <strong>private disputes into community concerns</strong>.
		(The addition of <strong>nonboostable toots</strong> to <u class=name>Mastodon</u> has—no doubt—saved <strong>many a relationship conflict</strong> from escalating out of control.
		I was around before this became a thing and <strong><i class=emph>let me tell you</i></strong>.)
	<p>
		<strong>Cybre drama is bad enough</strong> on its own, but it can also have an effect <strong>beyond its immediate circumstances</strong>:
		Fear of what might happen <strong><em>should a relationship go bad</em></strong> can have an impact on what is shared or done <strong><em>while a relationship is good</em></strong>.
		For queer folks who are <strong>forced into the closet</strong> in their daily lives, and whose online relationships <strong>aren't able to find expression</strong> in most of the spaces they are forced to inhabit, the regulatory threat of cybre drama functions to <strong>further push queer relationships into the shadows</strong> and out of the public light.
	<p>
		Counterintuïtively, <strong>my desire to see gay shit</strong> might be contributing to the forces <strong>keeping gay shit out of my view</strong>.
	<p>
		To a large extent, <strong>this is a cultural problem</strong>.
		We can help reduce the risk—and threat—of cybre drama <b>by</b> <strong>understanding relationships as fluid</strong>, <b>by</b> <strong>acknowledging the validity of short&#x2010;term relationships</strong>, <b>by</b> <strong>recognizing that break&#x2010;ups happen</strong>, and <strong>that's okay</strong>, and <b>by</b> <strong>finding ways to support the relationships</strong> formed between our friends and lovers—<strong>without applying pressure for them to last an eternity into the future</strong>.
		We can also <strong>use technological affordances</strong>—like unlisted or nonboostable toots—to <strong>keep relationship conversations</strong> from <strong>escaping their intended audience</strong> and help everyone <strong>stay loving in a safe manner</strong>.
	<p>
		Social media is—<abbr title="to be honest">tbh</abbr>—sometimes <strong>not the greatest</strong> for talking about or dealing with relationships—but for queer folks on <u class=bloc>the Internet</u> <strong>our options can sometimes be limited</strong>, and it's up to us to <strong>keep those spaces inviting and warm</strong>.
</section>

<footer id=endmatter>
	<section id=featured>
		<h3>Featured project – <strong><u class=orgName>GlitchSoc</u></strong></h3>
		<img id=featured.logo src="{{ "/img/logo-glitched-alt.png" | relative_url }}" alt="GlitchSoc logo" title="GlitchSoc logo" width=200 height=200>
		<p>
			Trans girls and enbies have always played a significant role in the development of the social&#x2010;networking software <u class=name>Mastodon</u>, making up a significant portion of the original userbase, providing some of the earliest critiques on its approaches to things like privacy, accessibility, and moderation, and contributing code and resources to a number of important features—<abbr title="Content Warnings">CWs</abbr>, mutes (in a number of respects), onboarding, documentation, and more.
			After <u class=event>the <time datetime="2017-04" title="2017-04">April</time> influx of users</u>, however, the amount of room and patience for such critical voices in upstream development has decreased, and shifting demographics has meant that the active trans presence in <u class=name>Mastodon</u> development today pales in comparison to what it once was.
		<p>
			Noticing that a number of prominent trans voices had grown disillusioned with upstream development, <u class=persName><u class=forename>beatrix</u> <u class=surname>bitrot</u></u> [{% assign bea = page.credits | where: "id", "bea" | first %}{% include layout_A/handle.html social=bea.social %}] created her own fork, {% include layout_A/link.html href="https://glitch-soc.github.io/docs" title="Mastodon Glitch Edition" content="<u class=orgName>GlitchSoc</u>" %} as a way to give people somewhere to test and develop features that weren't finding much support elsewhere.
			<q>I started it so trans women would have somewhere other than mainline to work on <span class=reg><u class=name>Mastodon</u></span></q>, <u class=persName><u class=forename>bea</u></u> told <cite class=series><b class=cybremonday>CYBREMONDAY</b></cite>.
			<q>It's not an exclusive space or project.
			I just have my priorities.</q>
			Since the fork's founding, a number of people (including myself) have worked under <u class=persName><u class=forename>bea</u></u>'s direction to implement a number of new things, and <u class=orgName>GlitchSoc</u>'s <u class=name>Mastodon Glitch Edition</u> is now the software of choice for such instances as {% include layout_A/link.html href="https://awoo.space" content="<u class=settlement>Awoo.space</u>" %}, {% include layout_A/link.html href="https://monsterpit.net" content="<u class=settlement>Monsterpit</u>" %}, and {% include layout_A/link.html href="https://donphan.social" content="<u class=settlement>donphan.social</u>" %}.
		<p>
			You can learn more about <u class=orgName>GlitchSoc</u> on its documentation website, {% include layout_A/link.html href="https://glitch-soc.github.io/docs/" content="glitch-soc.github.io/docs" %}.
	</section>

	<section id=hex>
		<h3>This week's hex colour</h3>
		{% include layout_A/colour.html id="hex.colour" colour="#FFFFFF" light=true %}
		<p>
			The default background colour of the internet since, like, forever, this week's hex colour—{% include layout_A/colour.html colour="#FFFFFF" light=true %}—was chosen to put a spotlight on the ways in which whiteness <strong>can and has been used</strong> as an <strong>active and intentional part of design</strong>, too.
			Fronted by <u class=orgName>Apple</u> for years, {% include layout_A/colour.html colour="#FFFFFF" light=true %} quickly replaced black as a colour of sleekness, elegance, and high design—now making a resurgence in <u class=orgName>Google</u>'s <u class=orgName>Apple</u>&#x2010;esque branding for their <u class=name>Pixel</u>, <u class=name>Home</u>, <u class=name>Pixelbook</u>, and <u class=name>Assistaint</u>.
			It has also been used by <u class=orgName>Facebook</u> for their <i class=soCalled>thumbs&#x2010;up hand</i>, <u class=orgName>tumblr.</u>'s <i class=soCalled>white <i class=mentioned>t</i></i>, <u class=orgName>Snapchat</u>'s <i class=soCalled>ghost</i>, <u class=orgName>Instagram</u>'s {% include layout_A/link.html href="http://blog.instagram.com/post/144198429587/160511-a-new-look" content="entire freaking redesign" %}… I don't think it's that much of a leap to say that {% include layout_A/colour.html colour="#FFFFFF" light=true %} is the <strong>de&#x2010;facto colour of the modern corporate <u class=bloc>'net</u></strong>.
		<p>
			This, of course, gives it lots of potential for coöption and subversion by radical and anti&#x2010;normative designers and groups.
			By drawing attention to {% include layout_A/colour.html colour="#FFFFFF" light=true %}, we at the same time draw attention to all of the companies and organizations currently standing behind its elitist veneer, <strong>disallowing them from merely fading into the background</strong> by emphasizing the political and very&#x2010;much&#x2010;<em>not</em>&#x2010;default nature of their design choice.
			<strong>Highlighting and contesting</strong> the corporate use of this colour helps to threaten elite control over design sensibilities and jam the deployment of these tactics towards—literally—whitewashing their more nefarious sides.
	</section>

	<section id=upcoming>
		<h3>Upcoming</h3>
		<p>
			The theme for the next issue is <strong id=upcoming.theme>bodies</strong>.
			The hex colour will be <strong id=upcoming.colour>{% include layout_A/colour.html colour="#3399CC" %}</strong>.
	</section>
</footer>
