{% assign this = include.for | default: page %}<nav id={% include attr value="playlist" %}>
	{% assign trackmax = this.tracks.size | minus: 1 %}{% for trackno in (0..trackmax) %}{% assign track = this.tracks[trackno] %}
	<a href={% assign trackstart = track.src | slice: 0, 7 %}{% if trackstart == "http://" or trackstart == "https:/" %}{% assign src = track.src %}{% else %}{% assign src = track.src | relative_url %}{% endif %}{% include attr value=src %} rel={% include attr value="external noopener noreferrer" %} target={% include attr value="_blank" %}><span class={% include attr value="trackno" %}>{% if 9 > trackno %}0{% endif %}{{ trackno | plus: 1 }}</span> <cite class={% include attr value="track" %}>{{ track.title | strip_html }}</cite> | <u class={% include attr value="artist" %}>{{ track.artist | strip_html }}</u> {% if track.license %}[<cite class={% include attr value="license" %}>{{ track.license | strip_html }}</cite>]{% endif %}</a>
	{% endfor %}
</nav>
<footer id={% include attr value="info" %}>

{{ this.content }}
	<section id={% include attr value="credits" %}>
		<h3>Credits</h3>
		<ol>{% for track in this.tracks %}
			<li>
				{% if track.artist %}{{ track.artist }}.{% endif %}
				{% if track.title %}<cite class={% include attr value="analytic" %}>{{ track.title }}</cite>.{% endif %}
				{% if track.album %}In <cite class={% include attr value="monogr" %}>{{ track.album }}</cite>.{% endif %}
				{% if track.publisher %}{{ track.publisher }}{% if track.datetime %},{% else %}.{% endif %}{% endif %}
				{% if track.datetime %}{% include date datetime=track.datetime %}.{% endif %}
				{% if track.license %}<cite class={% include attr value="monogr" %}>{{ track.license }}</cite>.{% endif %}{% endfor %}
		</ol>
	</section>
</footer>
{%- comment %}[Strip whitespace]{% endcomment -%}
