---
vol_no: 1
issue_no: 0
title: '#9900FF'
date: 2018-02-05
slug: CHEX0100
light: false
---

<p>
	At the end of last year, <u class=orgName>PANTONE</u> announced <u class=name>PANTONE 18-3838 Ultra Violet</u> as their <i class=soCalled>Color of the Year</i>.
	<u class=orgName>PANTONE</u> has a long history of {% include link.html href="https://www.lokidesign.net/journal/2016/2/22/the-propaganda-of-pantone-colour-and-subcultural-sublimation" title="The Propoganda of Pantone: Colour and Subcultural Sublimation | LOK" content="sublimating subcultural aesthetic" %} as a way of defanging activist design for the mass market.
	As the {% include link.html href="https://www.pantone.com/color-of-the-year-2018" title="Pantone Color of the Year 2018 – 18-3838 Ultra Violet | PANTONE" content="official press release" %} states:
	<q>Musical icons Prince, David Bowie, and Jimi Hendrix brought shades of Ultra Violet to the forefront of western pop culture as personal expressions of individuality.
	Nuanced and full of emotion, the depth of PANTONE 18-3838 Ultra Violet symbolizes experimentation and non-conformity, spurring individuals to imagine their unique mark on the world, and push boundaries through creative outlets.</q>
<p>
	Taking a colour associated with (in their own words) non-conformity and (let's face it) queerness and using it to market capitalistic mass-produced product is downright nefarious and as a friend of the colour purple I say let's not let them get away with it.
	{% include colour.html colour="#9900FF" %} is a web-safe purple of roughly the same hue of <u class=name>Ultra Violet</u> but with a little added vim and vigour.
	It's the kind of colour that has only ever existed on the personal web, and which, even in an age of viral vaporwave marketing, any respectable capitalist organization would think twice before using in any official publication.
<p>
	Let's keep it that way lol.
	Go wild.
