---
vol_no: 1
issue_no: 1
title: '#FFFFFF'
date: 2018-02-12
slug: CHEX0101
light: true
---

<p>
	The default background colour of the internet since, like, forever, this week's hex colour—{% include colour.html colour="#FFFFFF" light=true %}—was chosen to put a spotlight on the ways in which whiteness <strong>can and has been used</strong> as an <strong>active and intentional part of design</strong>, too.
	Fronted by <u class=orgName>Apple</u> for years, {% include colour.html colour="#FFFFFF" light=true %} quickly replaced black as a colour of sleekness, elegance, and high design—now making a resurgence in <u class=orgName>Google</u>'s <u class=orgName>Apple</u>&#x2010;esque branding for their <u class=name>Pixel</u>, <u class=name>Home</u>, <u class=name>Pixelbook</u>, and <u class=name>Assistaint</u>.
	It has also been used by <u class=orgName>Facebook</u> for their <i class=soCalled>thumbs&#x2010;up hand</i>, <u class=orgName>tumblr.</u>'s <i class=soCalled>white <i class=mentioned>t</i></i>, <u class=orgName>Snapchat</u>'s <i class=soCalled>ghost</i>, <u class=orgName>Instagram</u>'s {% include link.html href="http://blog.instagram.com/post/144198429587/160511-a-new-look" content="entire freaking redesign" %}… I don't think it's that much of a leap to say that {% include colour.html colour="#FFFFFF" light=true %} is the <strong>de&#x2010;facto colour of the modern corporate <u class=bloc>'net</u></strong>.
<p>
	This, of course, gives it lots of potential for coöption and subversion by radical and anti&#x2010;normative designers and groups.
	By drawing attention to {% include colour.html colour="#FFFFFF" light=true %}, we at the same time draw attention to all of the companies and organizations currently standing behind its elitist veneer, <strong>disallowing them from merely fading into the background</strong> by emphasizing the political and very&#x2010;much&#x2010;<em>not</em>&#x2010;default nature of their design choice.
	<strong>Highlighting and contesting</strong> the corporate use of this colour helps to threaten elite control over design sensibilities and jam the deployment of these tactics towards—literally—whitewashing their more nefarious sides.
