<!DoCtYpE HTML>{% assign LANG = page.lang | default: site.lang | default: "en" %}{% assign attrs = LANG | prepend: "xml:lang=" %}
{% include _ o="TEI" a=attrs %}{% assign ISSUE = site.CMON | sort: 'date' | last %}{% assign HEX = site.CHEX | where: "vol_no", ISSUE.vol_no | where: "issue_no", ISSUE.issue_no | last %}{% assign TITLE = page.title %}{% assign SERIES = page.series %}

<!--  [META]  -->
{% include meta.html %}
<!--  [/META]  -->

<STYLE Type={% include attr value="text/css" %}>
{% capture styling %}
	$bg_colour: {% if HEX.light %}{{ HEX.title | strip_html | default: '#faf8f7' }}{% else %}{{ HEX.title | strip_html | default: '#1f1a14' }}{% endif %};
	$fg_colour: {% if HEX.light %}#1f1a14{% else %}#faf8f7{% endif %};

	HTML {
		Color: $fg_colour;
		Background: $bg_colour;
	}
	{% include corefmt.scss %}
{% endcapture %}{{ styling | scssify }}</STYLE>

{% include _ o="text" %}{% if TITLE.size > 0 or SERIES.size > 0 %}
	{% include _ o="front" a="xml:id=front" %}
		{% include _ o="docTitle" a="xml:id=title" %}
			{% include _ o="titlePart" %}{% if SERIES.size > 0 %}{% include _ v=SERIES %}{% if TITLE != empty %}:
				{% endif %}{% endif %}{% if TITLE.size > 0 %}{% if SERIES.size > 0 %}{% include _ o="emph|STRONG" a="rend=strong" %}{% endif %}{% include _ v=TITLE %}{% if SERIES.size > 0 %}{% include _ x="emph|STRONG" %}{% endif %}{% endif %}{% include _ x="titlePart" %}
		{% include _ x="docTitle" %}
	{% include _ x="front" %}{% endif %}
	{% include _ o="body" a="xml:id=content" %}

{% include content %}

	{% include _ x="body" %}
{% include _ x="text" %}
